$default-bg: $main-bg;
$chart-font-size: $font-size-xs;

$bar-height: $chart-font-size*2;
$label-padding: $spacer/2;
$label-z-index: 100;

$label-width: 25%;
$value-width: 6%;
$bar-width: 100% - $label-width - $value-width;

$row-spacing: 2px;
@mixin gradient-left($from-color, $to-color) {
    background: linear-gradient(to right, $from-color 0%, $to-color 100%);
}
@mixin hover-cover() {
    cursor: pointer;

    &:hover {
        color: var(--selection-tx);

        &:after {
            position  : absolute;
            left      : 0;
            top       : 0;
            bottom    : 0;
            right     : 0;
            content   : " ";
            background: $highlight-hover;
            z-index   : $label-z-index + 20;
        }
    }
}

.kt-chart {
    margin-top: $spacer;
    font-size : $chart-font-size!important;
    clear     : both;

    .row {

        display    : block;
        border     : none;
        padding    : $row-spacing/2;
        clear      : both;
        white-space: nowrap;

        overflow   : hidden;
        width      : 100%;

        position   : relative;

        label {
            position     : relative;
            float        : left;
            text-align   : right;
            width        : $label-width;
            padding-right: $label-padding*2;
        }

        .value,
        label {
            line-height  : $bar-height;
            box-sizing   : border-box;
            z-index      : $label-z-index;
            white-space  : nowrap;
            overflow     : hidden;
            text-overflow: ellipsis;
            cursor       : pointer;
        }

        .value {
            padding-left: $label-padding;
            color       : var(--kt-grey-light);
            text-align  : right;
            position    : absolute;
            right       : 0;
            cursor      : pointer;
        }

        .bar-container {
            box-sizing : border-box;

            float      : left;
            display    : block;
            width      : $bar-width;
            overflow   : visible;
            height     : $bar-height;
            white-space: nowrap;

            a {
                cursor  : pointer;
                border  : none;
                position: relative;
                @include hover-cover();

            }

            .bar {
                box-sizing: border-box!important;
                color     : white;
                height    : $bar-height;

                text-align: left;
                min-width : 3px;
                opacity   : 1;

            }

        }
    }

}
