
$code-line-info-bg: var(--kt-grey-lighter);
$line-number-width: 2em;
node-decorator {
    display: flex;

    .stats {
        display       : flex;
        flex-direction: row;
        align-items   : stretch;
        text-align    : right;

        vertical-align: middle;


        .state-marker {
            min-height      : 1.5em;
            background-clip : content-box;
            box-sizing      : border-box;
            content         : "";
            width           : 3.05* $marker-line-width;
            border-left     : $marker-line-width solid $transparent;
            border-right    : $marker-line-width solid $transparent;
            background-color: $transparent;
        }
    }

    #po-count {
        font-size  : 8px;
        padding    : 0 $spacer/2;
        display    : flex;
        align-items: center;

        width  : var(--po-count-min-width, 1.5em);
        color      : var(--kt-grey);
    }

    .stats.violation {
        .state-marker {
            border-left-color: var(--kt-state-violation-default-bg);
        }
    }

    .stats.open {
        .state-marker {
            background-color: var(--kt-state-open-default-bg)!important;
        }
    }

    .stats.discharged {
        .state-marker {
            border-right-color: var(--kt-state-discharged-default-bg);
        }

    }
}

source-view {
    #listOfLines {
        padding-top: var(--filter-panel-height);
    }
 

  
    .inline{
        background: $selection-lt-bg;
        margin-left: $line-number-width;
    }


    pre {
        margin     : 0 !important;
        padding    : 0 !important;
        line-height: 1;
        line-height: 2em;
        margin-left: $spacer !important;
    }

    .code-line-wrapper.selected{
        background: $selection-md-bg!important;
    }

    .code-line.selected{
        background: $selection-md-bg!important;

        .info{
            background: $selection-md-bg!important;

            node-decorator{
                visibility: hidden;
            }
        }
    }

    .code-line {
        cursor: pointer;
        display       : flex;
        flex-direction: row;
        align-items   : stretch;
        align-content : stretch;

        &:hover{
            background: $selection-lt-bg;
        }

        .info {
            display       : flex;
            flex-direction: row;
            align-items   : stretch;
            text-align    : right;

            font-size     : 8px;
            vertical-align: middle;
            background    : $code-line-info-bg;

        }

        #line-number {
            padding    : $spacer/2;
            display    : flex;
            align-items: center;
            min-width  : $line-number-width;
            color      : $grey-lighter;
        }

        pre.text {
            font-size     : $font-size-xs;
            vertical-align: middle;
            font-family   : $monospaced;

        }

    }
}
