

$font-size-base: 14px;
$font-size-m: $font-size-base;
$font-size-lg: $font-size-base*1.1;
$font-size-sm: $font-size-base*0.9;
$font-size-xs: $font-size-sm*0.8;
$font-size-xl: $font-size-lg*1.2;

$font-smaler: 80%;
$monospaced: 'IBM Plex Mono','Roboto Mono', 'Liberation Mono', Courier;
$font-code: 400 80% $monospaced;


:root {
    --font-size-l: #{$font-size-lg};
    --font-size-m: #{$font-size-m};
    --font-size-sm: #{$font-size-sm};
}

h1,
h2,
h3 {
    margin     : 0;
    font-weight: 400;
}

h4,
h5 {
    margin     : 0;
    font-weight: 300;
}

h4 {
    color    : var(--kt-grey);
    font-size: $font-size-xs;
}

h2 {
    font-size: $font-size-lg;
}

h3 {
    text-transform: uppercase;
    font-size     : 12px;
}

h1 {
    padding-top   : $spacer;
    color         : var(--kt-grey);
    text-transform: uppercase;
    font-size     : $font-size-xl;
    font-weight   : 100;
}

li {
    font-size: $font-size-sm;
    color    : var(--kt-grey);
}

.footer{
    text-align: center;
    font-size: $font-size-xs;
    color    : var(--kt-grey);
}
