@import "_fonts";
// @import "_colors";

$po-id-width: $spacer*5;
$po-id-padding: $spacer/2;

$po-loc-width: $spacer*4;
$po-loc-padding: $spacer/2;

$po-icon-width: 16px;

.level-primary,
.level-secondary {
    font-weight  : 400;
    border-radius: 15px;
    min-width    : 1.3em;
    display      : inline-block;
    padding      : $spacer/8;
    text-align   : center;
    margin       : 0 $spacer/2;
}

.level-secondary {
    background: var(--kt-po-secondary-bg);
}

.level-primary {
    color     : white;
    background: var(--kt-po-primary-bg);
}

po-list {
    

    .headline {
        padding: $spacer*2 $spacer $spacer;
        color  : $grey-lighter;

        .function {
            display    : inline-block;
            color      : $grey;
            font-family: $monospaced;
            font-weight: 400;
        }

        .file {
            display: inline-block;
            color  : $grey-lighter;
        }
    }
}

.po-wrapper {    
    padding: 0;
    margin : 0;
}

.po-wrapper.selected, .po-wrapper.selected.small  {
    background: $selection-bg;
}

.po-wrapper.small {
    font-size: $font-size-sm;
}

.small {
    c-entity-line, tf-node-list-item, .function-contract-line {
        .row{
            font-size: 85%;
        
            .expression{
                font-size: 9px;
            }
        
            .discharge-comment {
                font-size: 9px;
            }
        }
    }
}
 
.file-contract-line,
.function-contract-line,
c-entity-line,
assumption-line {
    .row > span {
        display: inline-block;
    }

    small .row{
        font-size: 80%;
    }

    .row {
        padding    : $spacer/2 $spacer;
        //border-bottom: 1px solid var(--kt-grey-lighter);
        box-sizing : border-box;
        border-left: $marker-line-width solid $transparent;
        border-bottom: 1px solid var(--separator);
        display    : flex;
        align-items: center;
        flex-flow  : row;

        .po-icon {
            width     : $po-icon-width;
            height    : $po-icon-width;
            min-width : $po-icon-width;
            min-height: $po-icon-width;
        }


         
        

        .predicate {

            .predicate-name {
                min-width     : 8rem;
                font-weight   : 500;
                text-transform: uppercase;
            }

            .predicate-arg {
                font: $font-code;
                font-size     : $font-smaler;
                color: var(--kt-grey-dark);
            }
        }

        .conditions{
            font-size     : $font-smaler;
            color: var(--kt-grey-dark);
        }

        .left,
        .mid,
        .right {
            display: flex;
        }

        .left {
            padding-right: $spacer;
            align-items  : center;
            flex-flow    : row;
        }

        .mid {
            flex       : 1;
            align-items: center;
            flex-flow  : wrap;
        }

        .right {
            margin-left: auto;
            align-items: flex-end;
            flex-flow  : row;
        }

        .tag{
            text-align   : center;
            margin       : $spacer/3;
            min-width    : 1em;
            color        : $color-brand-2;
            border-radius: $spacer*2;
            font-size    : 80%;
            padding      : $spacer/4 $spacer/2;
            background: var(--kt-out-edge-bg);

            background: var(--kt-in-edge-bg);

            &:hover {
                background: var(--kt-in-edge-bg-hover);
            }
        }
        
        .assumptions {
            display    : flex;
            align-items: center;

            .inputs,
            .outputs {
                text-align   : center;
                margin       : $spacer/3;
                min-width    : 1em;
                color        : $color-brand-2;
                border-radius: $spacer*2;
                font-size    : 80%;
                padding      : $spacer/4 $spacer/2;
            }

            .outputs {
                background: var(--kt-out-edge-bg);

                &:hover {
                    background: var(--kt-out-edge-bg-hover);
                }
            }

            .inputs {
                background: var(--kt-in-edge-bg);

                &:hover {
                    background: var(--kt-in-edge-bg-hover);
                }
            }
        }

        .location {
            // float        : right;
            font-family  : $monospaced;

            cursor       : pointer;
            min-width    : $po-loc-width;
            padding      : $spacer/4 $spacer/2;
            text-align   : right;
            font-size    : 80%s;
            background   : $highlight;
            border-radius: $spacer*2;
            margin       : $spacer/3;

            &:hover {
                background: $highlight-hover;
            }

            .line {
                text-decoration: underline;
            }
        }

        .state {
            min-width: 8rem;
        }

        .function-name {
            min-width  : 8rem;
            font-family: $monospaced;
        }

        
        .expression {
            color        : $grey;
            font-size    : $font-size-xs;
            font-family  : $monospaced;

            background   : $highlight;
            padding      : $spacer/4 $spacer;
            border-radius: $spacer;

            margin: $spacer/4;
        }

        .discharge-comment {
            font-size: $font-size-sm;
            color    : $grey;
            width    : 100%;

            margin: $spacer/4;
            // padding-left: $po-icon-width+$spacer;
        }

        

    }

}
