@import "_consts";
@import "_node-info";
@import "_fonts";
@import "_treeview";
@import "_layout";
@import "_po-list";
@import "_chart";
@import "_filter";
@import "_code";
@import "_graph";


body,
html {
    font   : 300 $font-size-base "RobotoDraft","Roboto",sans-serif;
    margin : 0;
    padding: 0;
    height : 100%;

    --spacer :   #{$spacer};
    --spacer-2 : #{$spacer/2};
}

table,
td,
th,
tr {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    border         : none;
    border-collapse: collapse;
    border-spacing : 0;
    vertical-align : center;
}

td.headline {
    text-align: right;

    h3,
    h4 {
        text-align: right;
        padding   : 0;
    }
    padding   : $spacer;
}

.edgePath path.path {
    stroke      : $grey;
    fill        : none;
    stroke-width: 1px;
}

.card.panel {
    h1,
    h2,
    h3 {
        color: var(--kt-grey);
    }
}

.table {
    .row {
        display  : flex;
        flex-flow: row;
    }

    .column {
        display      : flex;
        flex-flow    : column;
        align-items  : stretch;
        align-content: stretch;
    }

    .cell,
    h3 {
        padding   : 5px;
        flex      : 1;
        text-align: center;
    }

    .cell {
        h3 {
            padding: 0;
        }
    }

    .equal-size {
        flex-grow : 1;
        flex-basis: 0;
    }
}

.vr {
    width       : 1px;
    background  : $highlight-hover;
    margin-left : $spacer*2;
    margin-right: $spacer*2;
}

hr {
    border    : none;
    background: none;
    border-top: 1px solid $highlight-hover;
    width     : 100%;
    height    : 1px;
}

.footer {
    border-top: 1px solid $highlight-hover;
    position  : fixed;
    bottom    : 0;
    left      : 0;
    right     : 0;
    height    : auto;
    padding   : $spacer*2;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

ul.links {
    list-style: none;
    display   : flex;
    flex-flow : column;
    padding   : 0;
    margin    : 0;

    li {
        padding      : $spacer/8 $spacer/4;

        iron-icon {
            width     : 1.2rem;
            min-width : 1.2rem;
            height    : 1.2rem;
            min-height: 1.2rem;
            padding   : $spacer/8;
        }

        display      : flex;
        flex-flow    : row;
        cursor       : pointer;

        align-items  : center;
        overflow     : hidden;
        text-overflow: ellipsis; 

        &:hover {
            background: $highlight-hover;
        }

        small {
            color    : #999;
            font-size: 9px;
        }
    }
}

#splash-layout{
    background: var(--kt-main-bg)!important;
}
splash-layout {
    

    h1 {
        margin-bottom: $spacer;
    }

    .table {
       
        align-items   : center;
        display       : flex;
        flex-direction: column;
    }

    .row {}

    .column {
        width   : 220px;
        overflow: scroll;
        height  : 180px;
    }

    label {
        display: block;
        margin : $spacer 0 $spacer*3;
    }
}

.highlightable {
    cursor: pointer;

    &:hover {
        color     : var(--selection-tx)!important;
        background: $highlight-hover;
    }
}


.padding-right{
    padding-right: $spacer;
}

.control-panel{
    text-align: right;
    @apply --layout-horizontal;
    @apply --layout-end-justified;
    
    padding:var(--spacer-2);
}

.separated-top{
    border-top: 2px solid var(--separator); 
}

.error-color{
    color: $red;
}