<link rel="import" href="../../../bower_components/nvd3-elements/nvd3-multi-bar-horizontal.html">

<dom-module id="kt-stats">
    <template>

        <div class="container">
            <!-- <svg id="chartsvg" width="100%" height$="[[_height]]" preserveAspectRatio="xMinYMin" viewBox="-100 0 1050 650"></svg>
            <nvd3-multi-bar-horizontal data="[[chartData]]" svg=[[_getSvgObj()]] show-legend></nvd3-multi-bar-horizontal> -->

            <div id="poByRedicate" class="kt-chart">
            </div>
        </div>

    </template>

    <script>
        Polymer({
            is: 'kt-stats',

            properties: {
                selectedFile: Object,
                selectedFunction: Object,

                statistics: {
                    type: Object,
                    notify: true,
                    observer: '_statisticsChanged'
                },

                chartData: {
                    type: Object
                },

                _height: {
                    type: Object,
                    notify: true,
                    computed: '_computeHeight(chartData)'
                },

                observers: ['filterChanged(filter.file, filter.functionName)']
            },

            _getSvgObj: function() {
                return this.$.chartsvg;
            },



            _computeHeight: function(chartData) {
                if (chartData && chartData.length > 0) {
                    return chartData[0].values.length * 20;
                }
            },

            _statisticsChanged: function(oldVal, newVal) {
                // var data = statistics.chartDataPredicatesByState;
                if(this.statistics){
                    this.statistics.updateChart(d3.select("#poByRedicate"));
                }
                // }else if(oldVal){
                //     oldVal.updateChart(d3.select("#poByRedicate"))
                // }
                // this.set("chartData", data);

            }


        });
    </script>

</dom-module>
