<dom-module id="functions-list">
    <template>

        <div class="container">
            <template is="dom-repeat" items="{{functions}}">
                <div class="item" on-click="_clickListener">{{item.name}}</div>
            </template>
        </div>

    </template>
</dom-module>

 <script>
    Polymer({
        is: 'functions-list',

        properties: {
            selectedFile: {
                type: Object,
                observer: "_selectedFileChanged"
            },

            _selected: {
                type: Object,
                value: null
            },

            selectedFunction: {
                type: String,
                value: null,
                notify: true
            },

            functions: {
                type: Array,
                computed: '_getFunctionsByFile(selectedFile)'
            }
        },

        _selectedFileChanged: function(e) {
            this.selectedFunction=null;
            this._selected=null;
        },

        _getFunctionsByFile: function(file) {
            console.info(file);
            if (file && file.relativePath) {
                return kt.Globals.project.functionByFile[file.relativePath];
            } else {
                return [];
            }

        },

        _clickListener: function(e) {
            this.selectedFunction = e.model.item.name;
            console.log('You pressed button ' + e.model.item.name);

            if (this._selected) {
                this.toggleClass("selected", false, this._selected);
                this._selected = null;
            }

            this.toggleClass("selected", true, e.target);
            this._selected = e.target;

         }

    });
</script>
