<link rel="import" href="node-icon.html">

<dom-module id="discharge-info">

    <template>
        <b>[[node.attr.state]]</b>
        &nbsp; [[node.attr.dischargeType]]

        <template is="dom-if" if="[[node.attr.discharge]]">
            <div id='evidence'>[[node.attr.discharge.evidence.comment]]</div>
            <template is="dom-if" if="[[node.attr.dischargeAssumption.type]]">
                <div id='uses-api'><iron-icon icon="kt:arrow-upward"></iron-icon> uses: [[node.attr.dischargeAssumption.type]]:[[node.attr.dischargeAssumption.apiId]]</div>
            </template>
        </template>
    </template>

    <script>
        (function() {
            Polymer({
                is: 'discharge-info',
                properties: {

                    node: {
                        type: Object
                    }

                }
            });
        })();
    </script>
</dom-module>
