<link rel="import" href="node-icon.html">

<dom-module id="discharge-info">

    <template>
        <template is="dom-if" if="{{node.attr.discharge}}">
            <div id='evidence'>[[node.attr.discharge.evidence.comment]]</div>
            <div id='uses-api'>uses: [[node.attr.dischargeAssumption.type]]:[[node.attr.dischargeAssumption.apiId]]</div>
        </template>
    </template>

    <script>
        (function() {
            Polymer({
                is: 'discharge-info',
                properties: {

                    node: {
                        type: Object
                    }

                }
            });
        })();
    </script>
</dom-module>
