<dom-module id="kt-stats">
    <template>

        <div class="container flex" style="display:flex">
            <paper-material elevation="1" class="card panel flexchild">
                <h3>Proof obligations by predicate</h3>
                <div id="poByRedicate" class="kt-chart"></div>
            </paper-material>

            <paper-material elevation="1" class="card panel flexchild">
                <h3>Proof obligations by function (top 20)</h3>
                <div id="poByFunction" class="kt-chart"></div>
            </paper-material>

        </div>

        <div class="container flex" style="display:flex">

            <paper-material elevation="1" class="card panel flexchild">
                <h3>Proof obligations by file (top 10)</h3>
                <div id="poByFile" class="kt-chart"></div>
            </paper-material>

            <paper-material elevation="1" class="card panel flexchild">
                <h3>Proof obligations by type of discharge</h3>
                <div id="poByDischarge" class="kt-chart"></div>
            </paper-material>
        </div>

    </template>

    <style is="kt-stats">
        .flex {
            @apply(--layout-horizontal);
        }

        .flexchild {
            @apply(--layout-flex);
            padding: var(--spacer);
            margin: var(--spacer);
            background-color: var(--kt-panel-bg);
        }

        .kt-chart {
            width: 100%;
        }

    </style>

    <script>
        Polymer({
            is: 'kt-stats',

            properties: {
                filter: Object,

                statistics: {
                    type: Object,
                    notify: true,
                    observer: '_statisticsChanged'
                }
            },

            listeners: {
                "chart-bar-selected": "_chartBarSelected",
                "chart-row-selected": "_chartRowSelected"
            },

            _statisticsChanged: function(newVal, oldVal) {
                if (newVal) {
                    newVal.updateChart(this, d3.select("#poByRedicate"));
                    newVal.updatePoByDischargeChart(this, d3.select("#poByDischarge"));
                    newVal.updatePoByFunctionChart(this, d3.select("#poByFunction"));
                    newVal.updatePoByFileChart(this, d3.select("#poByFile"));
                }
            },

            _chartBarSelected: function(event) {
                if (event.detail.src == this.$.poByRedicate) {
                    this.set("filter.predicates", new kt.util.StringSet([event.detail.row]));
                }

                if (event.detail.src == this.$.poByDischarge) {
                    this.set("filter.dischargeTypes", new kt.util.StringSet([event.detail.row.toLowerCase()]));
                }

                if (event.detail.src == this.$.poByFunction) {
                    console.log(event.detail);
                    this.filter.file = event.detail.row.fileInfo;
                    this.filter.functionName = event.detail.row.name;
                    this.notifyPath("filter.functionName");
                }

                if (event.detail.src == this.$.poByFile) {
                    console.log(event.detail);
                    this.set("filter.file", event.detail.row);
                }
            },

            _chartRowSelected: function(event) {
                console.log(event.detail);
            }

        });
    </script>

</dom-module>
