<dom-module id="kt-stats">
    <template>
        <div class="summary-container">

            <div class="container flex-hor">
                <div class="container flex-ver flexchild">



                    <paper-material elevation="1" class$="card panel flexchild [[_hiddenIfNoDischarged]]">
                        <h3>Proof obligations by type of discharge</h3>
                        <div id="poByDischarge" class="kt-chart"></div>
                    </paper-material>

                    <paper-material elevation="1" class="card panel flexchild">
                        <h3>Proof obligations by file (top 10)</h3>
                        <div id="poByFile" class="kt-chart"></div>
                    </paper-material>

                </div>

                <div class="container flex-ver flexchild">
                    <paper-material elevation="1" class="card panel flexchild">
                        <h3>Proof obligations by function (top [[poByFunctionMaxRows]])</h3>
                        <div id="poByFunction" class="kt-chart"></div>
                    </paper-material>
                </div>

            </div>

            <div class$="container flex-hor [[_hiddenIfNoPrimaries]]">
                <!-- C -->

                <div class="container flex-ver flexchild">
                    <paper-material elevation="1" class="card panel flexchild">
                        <h3>Functions by (C-) complexity (top [[functionsByComplexityBMaxRows]])</h3>
                        <h4>Total
                            <b>control-flow-graph</b>-complexity of function-related
                            <b>primary</b>
                            proof obligations (PPO) divided by the number of PPO</h4>
                        <div id="cComplexityByFunction" class="kt-chart"></div>
                    </paper-material>

                    <paper-material elevation="1" class="card panel flexchild">
                        <h3>Files by (C-) complexity (top [[functionsByComplexityBMaxRows]])</h3>
                        <h4>Total
                            <b>control-flow-graph</b>-complexity of source file-related
                            <b>primary</b>
                            proof obligations (PPO) divided by the number of PPO</h4>
                        <div id="cComplexityByFile" class="kt-chart"></div>
                    </paper-material>

                </div>

                <!-- P -->
                <div class="container flex-ver flexchild">

                    <paper-material elevation="1" class="card panel flexchild">
                        <h3>Functions by predicate (P-) complexity (top [[functionsByComplexityBMaxRows]])</h3>
                        <h4>Total
                            <b>predicate</b>-complexity of function-related
                            <b>primary</b>
                            proof obligations (PPO) divided by the number of PPO</h4>
                        <div id="pComplexityByFunction" class="kt-chart"></div>
                    </paper-material>

                    <paper-material elevation="1" class="card panel flexchild">
                        <h3>Files by predicate (P-) complexity (top [[functionsByComplexityBMaxRows]])</h3>
                        <h4>Total
                            <b>predicate</b>-complexity of source file-related
                            <b>primary</b>
                            proof obligations (PPO) divided by the number of PPO</h4>
                        <div id="pComplexityByFile" class="kt-chart"></div>
                    </paper-material>

                </div>

            </div>

            <!-- ROW -->
            <div class="container flex-hor">

                <!-- COL -->
                <div class="container flex-ver flexchild">
                    <paper-material elevation="1" class="card panel flexchild">
                        <h3>Proof obligations by predicate</h3>
                        <div id="poByRedicate" class="kt-chart"></div>
                    </paper-material>
                </div>

                <paper-material elevation="1" class="card panel flexchild">
                    <h3>Functions by number of <b>assumptions</b> (top [[poByFunctionMaxRows]])</h3>
                    <div id="assumptionsByFunction" class="kt-chart"></div>
                </paper-material>

                <paper-material elevation="1" class="card panel flexchild">
                    <h3>Functions by number of <b>IN-assumptions</b> (top [[poByFunctionMaxRows]])</h3>
                    <div id="inAssumptionsByFunction" class="kt-chart"></div>
                </paper-material>

                <!-- COL -->
                <div class$="container flex-ver flexchild [[_hiddenIfNoPrimaries]]">

                    <paper-material elevation="1" class="card panel flexchild">
                        <h3>Average complexity by predicate</h3>
                        <h4>Total complexity divided by the number of
                            <b>primary</b>
                            proof obligations</h4>
                        <div id="complexityByPredicate" class="kt-chart"></div>
                    </paper-material>

                </div>

            </div>
        </div>

    </template>

    <style is="kt-stats">
        .summary-container {
            padding-top: var(--filter-panel-height);
        }

        .flex-hor {
            @apply(--layout-horizontal);
            @apply(--layout-wrap);
        }

        .flex-ver {
            @apply(--layout-vertical);
            @apply(--layout-wrap);
        }

        .flexchild {
            @apply(--layout-flex);

        }

        .panel {
            min-width: 350px;
            padding: var(--spacer);
            margin: var(--spacer);
            background-color: var(--kt-panel-bg);
        }

        .kt-chart {
            width: 100%;
        }

        .hidden {
            display: none;
        }

    </style>

    <script>
        Polymer({
            is: 'kt-stats',

            properties: {

                functionsByComplexityBMaxRows: {
                    type: Number,
                    value: 10
                },

                poByFunctionMaxRows: {
                    type: Number,
                    value: 20
                },

                statistics: {
                    type: Object,
                    notify: true,
                    observer: '_statisticsChanged'
                },

                filter: {
                    type: Object,
                    notify: true
                }
            },

            listeners: {
                "chart-bar-selected": "_chartBarSelected",
                "chart-row-selected": "_chartRowSelected"
            },

            _statisticsChanged: function(newVal, oldVal) {
                if (newVal) {
                    newVal.updateChart(this, d3.select("#poByRedicate"));
                    newVal.updatePoByDischargeChart(this, d3.select("#poByDischarge"));
                    newVal.updatePoByFunctionChart(this.poByFunctionMaxRows, this, d3.select("#poByFunction"));
                    newVal.updateAssumptionsByFunctionChart(this.poByFunctionMaxRows, this, d3.select("#assumptionsByFunction"));
                    newVal.updateInAssumptionsByFunctionChart(this.poByFunctionMaxRows, this, d3.select("#inAssumptionsByFunction"));


                    newVal.updatePoByFileChart(this, d3.select("#poByFile"));

                    newVal.updatePredicateByComplexityChart(this, d3.select("#complexityByPredicate"));

                    newVal.updatComplexityByFunctionChart(["P"], this.functionsByComplexityBMaxRows, this, d3.select("#pComplexityByFunction"));
                    newVal.updatComplexityByFunctionChart(["C"], this.functionsByComplexityBMaxRows, this, d3.select("#cComplexityByFunction"));

                    newVal.updatComplexityByFileChart(["P"], this.functionsByComplexityBMaxRows, this, d3.select("#pComplexityByFile"));
                    newVal.updatComplexityByFileChart(["C"], this.functionsByComplexityBMaxRows, this, d3.select("#cComplexityByFile"));

                    if (this.filter) {
                        this._hiddenIfNoPrimaries = this.filter.levels.contains("primary")
                            ? ""
                            : "hidden";

                        this._hiddenIfNoDischarged = (this.filter.states.length == 1 && this.filter.states.contains(kt.model.PoStates.open))
                            ? "hidden"
                            : "";
                    }

                }
            },

            _chartBarSelected: function(event) {
                var src = event.detail.src;
                if (src == this.$.poByRedicate || src == this.$.complexityByPredicate) {
                    this.set("filter.predicates", new kt.util.StringSet([event.detail.row]));
                }

                if (src == this.$.poByDischarge) {
                    this.set("filter.dischargeTypes", new kt.util.StringSet([event.detail.row.toLowerCase()]));
                }

                if (src == this.$.poByFunction || src == this.$.cComplexityByFunction || src == this.$.pComplexityByFunction || src == this.$.assumptionsByFunction) {
                    console.log(event.detail);
                    this.filter.file = event.detail.row.fileInfo;
                    this.filter.cfunction = event.detail.row;
                    // this.notifyPath("filter.*")
                    this.notifyPath("filter.file");
                    this.notifyPath("filter.cfunction");
                }

                if (src == this.$.poByFile || src == this.$.cComplexityByFile || src == this.$.pComplexityByFile) {
                    console.log(event.detail);
                    this.set("filter.file", event.detail.row);
                }
            },

            _chartRowSelected: function(event) {
                console.log(event.detail);
            }

        });
    </script>

</dom-module>
