<link rel="import" href="../../../bower_components/iron-list/iron-list.html">
<link rel="import" href="assumption-line.html">

<dom-module id="assumptions-list">
    <template>
        <div class="scrollable">
            <iron-list scroll-target="scrollable" items="[[filteredAssumptions]]" as="line" selection-enabled selected-item="{{selectedItem}}">
                <template>
                    <div class$="po-wrapper [[_getClass(line, selected)]]">
                        <assumption-line item="[[line]]"></assumption-line>
                    </div>
                </template>
            </div>
        </iron-list>

    </template>

    <script>
        Polymer({
            is: 'assumptions-list',

            properties: {

                filteredAssumptions: {
                    type: Object,
                    notify: true
                },

                selectedItem: {
                    type: Object,
                },

                selectedAssumptions: {
                    type: Array,
                    notify: true
                },
            },

            observers: ['_selectedItemChanged(selectedItem)'],


            _selectedItemChanged: function(item) {
                var pos = [];
                if(this.selectedItem){
                    pos.push(this.selectedItem);
                }

                this.set("selectedAssumptions", pos);
            },

            _getClass: function(line, selected) {
                return selected
                    ? "selected"
                    : "";
            },


        });
    </script>
</dom-module>
