<dom-module id="assumption-line">
    <template>

        <div class$="po row [[_getClass(item)]]" title$="[[item.id]] [[item.file]]/[[item.functionName]]:[[item.location.line]]">
            <span class="left">
                <iron-icon class="po-icon" icon$="{{_computeIcon(item)}}" title$="{{item.type}}"></iron-icon>
            </span>

            <span class="mid">

                <span class="predicate">
                    <span class="predicate-name">
                        [[item.predicate]]
                    </span>
                    <template is="dom-if" if="[[item.predicateArgument]]">
                        (<span class="predicate-arg">[[item.predicateArgument]]</span>)
                    </template>
                </span>

                <span class='expression'>
                    [[item.expression]]
                </span>

                <template is="dom-if" if="[[item.discharge]]">
                    <template is="dom-if" if="[[item.discharge.message]]">
                        <span class="discharge-comment">{{item.discharge.message}}</span>
                    </template>
                </template>
            </span>

            <span class='right'>

                <span class='assumptions'>
                    <template is="dom-if" if="[[item.outputs.length]]">
                        <span title="depends on POs" class="outputs">[[item.outputs.length]]</span>
                    </template>
                    <template is="dom-if" if="[[item.inputs.length]]">
                        <span title="dependend POs " class="inputs">[[item.inputs.length]]</span>
                    </template>
                </span>

                <span class="location" on-tap="jumpToSource" data=[[item]]>
                    <iron-icon class="po-icon" icon="link"></iron-icon>
                    <span class="line" title$="[[item.file]]/[[item.functionName]]:[[item.line]]">L[[item.line]]</span>
                </span>

            </span>

        </div>

    </template>

    <script>
        Polymer({
            is: 'assumption-line',

            properties: {
                item: Object,
                linktosource: Boolean
            },

            jumpToSource: function(event) {
                var item = event.currentTarget.data;
                this.fire("jump-to-src", item);
            },

            _getStateName: function(item) {
                return kt.model.PoStates[item.state];
            },

            _computeIcon: function(node) {
                if (node.extendedState) {
                    return "kt:state-" + node.extendedState.toLowerCase();
                } else {
                    return "";
                }
            },

            _getClass: function(node) {

                if (node.extendedState) {
                    return "po-" + node.extendedState.toLowerCase();
                } else {
                    return "";
                }
                console.error(node);

            },

            _clickListener: function(e) {}

        });
    </script>
</dom-module>
