<link rel="import" href="../../../bower_components/iron-list/iron-list.html">
<link rel="import" href="po-line.html">

<dom-module id="po-list">
    <template>
        <div class="scrollable">
            <iron-list scroll-target="scrollable" items="[[groupPOs(filteredProofObligations)]]" as="line" selection-enabled multi-selection selected-items="{{selectedItems}}">
                <template>
                    <div class$="po-wrapper [[_getClass(line, selected)]]">
                        <template is="dom-if" if="[[_showGroup(line, showgroups)]]">
                            <div class="headline">
                                <span class="file">[[line.parent]]</span>
                                /
                                <span class="function">[[line.value]]</span>
                            </div>
                        </template>

                        <template is="dom-if" if="[[!line.group]]">
                            <po-line item="[[line.value]]" linktosource="[[linktosource]]"></po-line>
                        </template>
                    </div>

                </template>
            </div>
        </iron-list>

    </template>

    <script>
        Polymer({
            is: 'po-list',

            properties: {
                linktosource: Boolean,
                showgroups: Boolean,

                selectedPo: {
                    type: Array,
                    notify: true
                },

                filteredProofObligations: {
                    type: Object,
                    notify: true
                },

                selectedItems: {
                    type: Object,
                    // observer: '_selectedItemsChanged'
                }
            },

            observers: ['_selectedItemsChanged(selectedItems.*)'],

            _selectedItemsChanged: function(arr) {
                console.log(arr);
                console.log(this.selectedItems);
                var pos = [];
                if (this.selectedItems && this.selectedItems.length) {
                    for (var i = 0; i < this.selectedItems.length; i++) {
                        pos.push(this.selectedItems[i].value);
                    }
                }

                this.set("selectedPo", pos);
            },

            _getClass: function(line, selected) {
                return selected
                    ? "selected"
                    : "";
            },

            _showGroup: function(line, showgroups) {
                var show = line.group && showgroups;
                return show;
            },

            _isGroup: function(item) {
                return item.type != "po";
            },

            groupPOs: function(pos) {
                var groups = kt.Globals.groupProofObligationsByFileFunctions(pos);
                var unzipped = kt.Globals.unzipPoGroup(groups);
                return unzipped;
            },

            // jumpToSource: function(event) {     var item = event.currentTarget.data;     this.fire("jump-to-src", item); },

            _showFunctionName: function(fname) {
                return true;
                //return this.filter.functionName!=fname;
            },

            _clickListener: function(e) {}

        });
    </script>
</dom-module>
