<dom-module id="po-line">
    <template>

        <div class$="po row [[_getClass(item)]]" title$="[[item.id]] [[item.file]]/[[item.functionName]]:[[item.location.line]]">
            <span class='left'>
                <iron-icon class="po-icon" icon$="{{_computeIcon(item)}}" on-click="select"></iron-icon>

                <!-- <span class="po-id">{{item.id}}</span> -->

                <span class$="level-[[item.level]]">[[item.levelLabel]]</span>
            </span>
            <span class='mid'>

                <span class="state">

                    [[item.stateName]]
                    <template is="dom-if" if="[[item.dischargeType]]">
                        :<span class="discharge">{{item.dischargeType}}</span>
                    </template>
                </span>


                <span class="predicate">
                    <span class="predicate-name">
                        [[item.predicate]]
                    </span>
                    <template is="dom-if" if="[[item.predicateArgument]]">
                        (<span class="predicate-arg">
                            [[item.predicateArgument]]
                        </span>)
                    </template>
                </span>

                <span class='expression'>
                    [[item.expression]]
                </span>

                <template is="dom-if" if="[[item.discharge]]">
                    <template is="dom-if" if="[[item.discharge.message]]">
                        <span class="discharge-comment">{{item.discharge.message}}</span>
                    </template>
                </template>
            </span>
            <span class='right'>

                <!-- <template is="dom-if" if="[[item.inputs.length]]"> -->
                <span class='assumptions'>


                    <template is="dom-if" if="[[item.outputs.length]]">
                        <span title="api assumptions" class="outputs">[[item.outputs.length]]</span>
                    </template>
                    <template is="dom-if" if="[[item.inputs.length]]">
                        <span title="depends on assumptions" class="inputs">[[item.inputs.length]]</span>
                    </template>


                </span>

                <template is="dom-if" if="[[linktosource]]">
                    <span class="location" on-tap="jumpToSource" data=[[item]]>
                        <iron-icon class="po-icon" icon="link"></iron-icon><span id="line" title$="[[item.file]]/[[item.functionName]]">L[[item.location.line]]</span>
                    </span>
                </template>
                <!-- </template> -->
            </span>
        </div>

    </template>

    <script>
        Polymer({
            is: 'po-line',

            properties: {
                item: Object,

                linktosource: Boolean

            },

            jumpToSource: function(event) {
                var item = event.currentTarget.data;
                this.fire("jump-to-src", item);
            },

            _getStateName: function(item) {
                return kt.model.PoStates[item.state];
            },

            _computeIcon: function(node) {
                if (node.extendedState) {
                    return "kt:state-" + node.extendedState.toLowerCase();
                } else {
                    return "";
                }

            },

            _getClass: function(node) {

                if (node.extendedState) {
                    return "po-" + node.extendedState.toLowerCase();
                } else {
                    return "";
                }
                console.error(node);

            },

            // _clickListener: function(e) {}

        });
    </script>
</dom-module>
