$marker-line-width:3px;
$code-line-info-bg:var(--kt-grey-lighter);
source-view {

    #listOfLines{
        padding-top: var(--filter-panel-height);
    }

    #scrollable {
        height  : 100vh;
        width   : 100%;

        overflow: auto;
        position: absolute;
        top     : 0;
        bottom  : 0;
    }


    pre {
        margin     : 0 !important;
        padding    : 0 !important;
        line-height: 1;
        line-height: 2em;
        margin-left: $spacer !important;
    }


    .code-line.violation {
        background: var(--kt-state-violation-default-hover-bg);

        .info{
            background: var(--kt-state-violation-default-hover-bg)!important;
            color:  var(--kt-state-violation-default-tx);
        }

        .state-marker{
            border-left: $marker-line-width solid var(--kt-state-violation-default-bg);
            background: var(--kt-state-violation-default-hover-bg);
        }
    }

    .code-line.open {
        .info{
            // background: var(--kt-state-open-default-hover-bg);
        }

        .state-marker{
            background-color: var(--kt-state-open-default-bg)!important;
        }
    }

    .code-line.discharged{
        .state-marker{
            border-right: $marker-line-width solid var(--kt-state-discharged-default-bg);
        }

    }


    .code-line {

        display       : flex;
        flex-direction: row;
        align-items   : stretch;
        align-content : stretch;

        //vertical-align: middle;

        .info {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            text-align    : right;

            font-size     : 8px;
            vertical-align: middle;
            background    : $code-line-info-bg;

        }

        #line-number{
            padding       : $spacer/2;
            display: flex;
            align-items: center;


            min-width     : 2em;
            color         : $grey-lighter;
        }

        #po-count{
            padding       : $spacer/2;
            display: flex;
            align-items: center;

            min-width     : 1.5em;
            color         : var(--kt-grey);
        }

        .state-marker{
            background-clip: content-box;
            box-sizing: border-box;
            content: "";
            width: 3* $marker-line-width;
            border-left: $marker-line-width solid  $transparent;//$code-line-info-bg;
            border-right: $marker-line-width solid  $transparent;//$code-line-info-bg;
            background-color: $transparent;//$code-line-info-bg;
        }





        pre.text {
            font-size     : $font-size-xs;
            vertical-align: middle;
            font-family   : $monospaced;

        }

    }
}
