$marker-line-width:3px;
source-view {

    pre {
        margin     : 0 !important;
        padding    : 0 !important;
        line-height: 1;
        line-height: 2em;
        margin-left: $spacer !important;
    }

    .code-line {
        display       : flex;
        flex-direction: row;
        align-items   : stretch;
        align-content : stretch;

        vertical-align: middle;

        .info {
            text-align    : right;
            min-width     : 2em;
            font-size     : 8px;
            color         : var(--kt-grey);
            vertical-align: middle;
            background    : var(--kt-grey-lighter);
            padding       : $spacer/2;

        }

        .state-marker{
            content: "";
            width: $marker-line-width;
            border-left: $marker-line-width solid $main-bg;
            border-right: $marker-line-width solid $main-bg;
            background-color: $main-bg;
        }

        .violation {
            border-left: $marker-line-width solid var(--kt-state-violation-default-bg);
            // &:before{
            //     border-right: 4px solid var(--kt-state-violation-default-bg);
            //     content: "";
            // }
        }

        .open {
            background-color: var(--kt-state-open-default-bg);

            // &:after{
            //     border-right: 4px solid var(--kt-state-open-default-bg);
            //     content: "";
            // }
        }

        .discharged{
            border-right: $marker-line-width solid var(--kt-state-discharged-default-bg);
            // border-right: 4px solid var(--kt-state-discharged-default-bg);
            // content: "";

        }

        pre.text {
            font-size     : $font-size-xs;
            vertical-align: middle;
            font-family   : $monospaced;

        }

    }
}
