$transparent: rgba(0,0,0,0);

$color-brand-1: #F4C74D;
$color-brand-2: #662D91;

$red: #EF2060;
$yellow: $color-brand-1;
$green: lighten(mix($yellow, #6DF0B9, 22%), 6%);
$ian_gillan: $color-brand-2;
$blue: #4397CE;
$base-bg: mix($ian_gillan, $blue, 40%);

$grey: lighten(desaturate($color-brand-2, 45%), 10%);
$grey-lighter: lighten($grey, 30%);
$grey-80: lighten($grey, 40%);

$po-discharged: darken($green, 25%);
$po-discharged-label: $green;

$po-open-base: $yellow;
$po-open: darken($po-open-base, 20%);
$po-violation: $red;

$po-open-bg: lighten($po-open-base, 35%);
$po-violation-bg: lighten($po-violation, 45%);
$po-discharged-bg: lighten($po-discharged, 65%);

$main-bg: lighten($base-bg, 50%);
$side-bg: mix($base-bg, $main-bg, 5%);
$side-bg-2: mix($side-bg, $base-bg, 85%);

:root {

    --kt-po-primary-bg                    : lighten($ian_gillan, 50%);
    --kt-po-secondary-bg                  : $side-bg;

    --kt-po-primary-tx                    : darken($ian_gillan, 1%);
    --kt-po-secondary-tx                  : darken($side-bg,50%);

    --kt-side-bg                          : $side-bg;
    --kt-panel-bg                         : lighten($base-bg, 47%);
    --kt-side-bg-2                        : $side-bg-2;
    --kt-main-bg                          : $main-bg;
    --kt-main-bg-t80                      : fade( $main-bg, 10%);

    --paper-tree-selected-background-color: $side-bg-2;

    /* == = = == =  = = = = = */

    --kt-red                              : $red;
    --kt-green                            : $green;
    --kt-yellow                           : $yellow;

    --kt-orange                           : mix($yellow, $red, 55%);

    --kt-violet                           : $ian_gillan;
    --kt-violet-lighter                   : lighten($ian_gillan, 10%);
    --kt-node-fade                        : lighten(desaturate($ian_gillan, 30%), 40%);
    --kt-node-selected-border             : $ian_gillan;

    --kt-grey                             : $grey;
    --kt-grey-dark                        : darken($grey, 20%);
    --kt-text-color                       : darken($grey, 20%);
    --kt-grey-light                       : lighten($grey,30%);
    --kt-grey-lighter                     : lighten($grey, 50%);

    --kt-edge                             : lighten($grey,30%);
    --kt-edge-highlight                   : lighten($ian_gillan, 5%);
    --kt-out-edge-highlight               : lighten($red, 5%);
    --kt-in-edge-highlight                : lighten($ian_gillan, 5%);
    --kt-edge-text                        : darken($grey, 20%);

    /* STATES =========== */

    $po-saturation                        : 75;
    $po-brightness                        : 60;

    $discharges                           : ( rv: hsl(40, $po-saturation, $po-brightness), ds: hsl(20, $po-saturation, $po-brightness), invariants: hsl(240, $po-saturation, $po-brightness), api: hsl(210, $po-saturation, $po-brightness), global: hsl(270, $po-saturation, $po-brightness), );

    $states                               : ( violation: $red, discharged:hsl(140, 60, 80), open: $yellow, assumption: $grey-80 );
    @each $state, $scolor in $states {

        --kt-state-#{$state}-default-bg      : $scolor;
        --kt-state-#{$state}-default-tx      : hsl( hue($scolor), saturation($scolor), 40);
        --kt-state-#{$state}-default-hover-bg: hsl( hue($scolor), saturation($scolor), 90);

        .po-#{$state}-default {
            border-left: 5px solid var(--kt-state-#{$state}-default-bg);
            color      : var(--kt-state-#{$state}-default-tx);

            &:hover {
                background: var(--kt-state-#{$state}-default-hover-bg);
            }

        }
        @each $discharge, $dcolor in $discharges {
            $_c                                        : mix($scolor, $dcolor, 70%);

            --kt-state-#{$state}-#{$discharge}-bg      : hsl( hue($_c), saturation($scolor), lightness($scolor));
            --kt-state-#{$state}-#{$discharge}-tx      : hsl( hue($_c), saturation($scolor), 40);
            --kt-state-#{$state}-#{$discharge}-hover-bg: hsl( hue($_c), saturation($scolor), 90);

            .po-#{$state}-#{$discharge} {
                border-left: 5px solid var(--kt-state-#{$state}-#{$discharge}-bg);
                color      : var(--kt-state-#{$state}-#{$discharge}-tx);

                &:hover {
                    background: var(--kt-state-#{$state}-#{$discharge}-hover-bg);
                }
            }
        }
    }

    /* =========== */
    --kt-hover                            : lighten(desaturate($ian_gillan, 30%), 55%);
    --kt-progress                         : $color-brand-2;

    --kt-complexity-p-bg                  : desaturate(lighten($color-brand-2, 30%), 20%);
    --kt-complexity-c-bg                  : desaturate(lighten($color-brand-2, 40%), 20%);
    --kt-complexity-g-bg                  : desaturate(lighten($color-brand-2, 50%), 20%);
    /* =========== */
}
