$filter-panel-bg: transparentize(mix($side-bg-2, $side-bg, 30%), 0.2);
$filter-item-width: 120px;

po-filter-panel {

    position : fixed;
    right    : 0;
    top      : var(--paper-toolbar-height);
    z-index  : 2000;

    font-size: $font-size-sm;

    .select-all-checkbox {
        --paper-checkbox-checked-color  : $side-bg-2;
        --paper-checkbox-checkmark-color: $base-bg;
        --paper-checkbox-label-color    : $base-bg;
        --paper-checkbox-unchecked-color: $base-bg;
    }

    #filtersettings {
        position: fixed;
        right   : 0;
        top     : calc(var(--paper-toolbar-height)+var(--filter-panel-height));
        z-index : 2100;
    }

    #filtersettings-container {

        background: $side-bg;
        // backdrop-filter: blur(2px);
        h2 {
            padding: $spacer;
            color: $grey!important;
        }

        #filtersettings-body {

            display  : flex;
            flex-flow: row;

            #predicates {
                flex-shrink: 1;
                flex-grow  : 1;

                .grid-container {
                    max-height    : 340px;
                    display       : flex;
                    flex-direction: column;
                    flex-wrap     : wrap;
                    min-width     : 3*$filter-item-width + 2*$spacer;
                }
            }

            h3 {
                margin-bottom: $spacer/2;
            }

            .card {
                min-width: $filter-item-width/2;

                display  : flex;
                flex-flow: column;
                padding  : $spacer;

                paper-checkbox {
                    padding: $spacer/2;
                }
            }

        }
    }

    .container {
        display    : flex;
        align-items: center;
        height     : var(--filter-panel-height);

        .path {
            text-align: left;
            font-size : $font-size-sm;

            #predicate {
                font-weight   : 400;
                text-transform: uppercase;
            }

            #function-name {}

            #state {
                font-weight: 400;
            }

            .separator,
            br,
            separator {
                display   : inline-block;
                min-width : 1.2em;

                content   : "";
                text-align: center;
                color     : var(--kt-grey);

                &:after {
                    content: " / ";
                }
            }
        }

        .path,
        .stats {

            display      : flex;
            margin-left  : $spacer/2;
            padding      : $spacer/2 $spacer;

            border       : 1px solid $filter-panel-bg;
            border-radius: 20px;
            background   : $filter-panel-bg;
            align-items  : center;
        }

        .controls {
            padding: 0;
        }

        .stats {
            font-size             : $font-size-xs;
            text-align            : center;

            --iron-icon-width     : 14px;
            --iron-icon-height    : 14px;
            --iron-icon-fill-color: var(--kt-grey);

            // iron-icon:{
            //     width: $font-size-xs;
            //     height: $font-size-xs;
            // }

            span {
                cursor      : pointer;
                // text-decoration: underline;
                display     : inline-block;
                padding-left: $spacer;
            }

            .stat-violation {
                color: var(--kt-state-violation-default-tx);
            }

            .stat-open {
                color: var(--kt-state-open-default-tx);
            }

            .stat-discharged {
                color: var(--kt-state-discharged-default-tx);
            }

        }
    }

    // width: 100%;
}
