$font-size-base: 14px;
$font-size-m: $font-size-base;
$font-size-lg: $font-size-base*1.2;
$font-size-sm: $font-size-base*0.9;
$font-size-xs: $font-size-sm*0.8;
$font-size-xl: $font-size-lg*1.2;

$font-smaler: 80%;
$monospaced: 'Liberation Mono', Courier;
$font-code:  300 80% $monospaced;


h1, h2, h3, h4, h5{
    margin: 0;
    font-weight: 300;
}

h2{
    font-size: $font-size-m;
}

h3{
    text-transform: uppercase;
    font-size: $font-size-sm;
}
