@import "_fonts";

$right-panel-width: 33%;

#scrollable,
scrollable {
    height  : 100vh;
    width   : 100%;

    overflow: auto;
    position: absolute;
    top     : 0;
    bottom  : 0;
}

kt-layout {
    background: $main-bg;

    #right-panel {
        background : $selection-lt-bg;
        width      : $right-panel-width;
        padding-top: $filter-panel-height;

        h3 {
            padding: 2*$spacer $spacer $spacer;
        }
    }

    #main-assumptions-list,
    #main-po-list {
        width: 100%-$right-panel-width;
        padding-top: $filter-panel-height;
    }

    iron-pages#contents {



        // height    : 100vh;
        width     : 100%;

        // overflow: auto;
        box-sizing: border-box;
        position  : absolute;
        top       : 0;
        bottom    : 0;

    }

    .main-content {
        background: #ffcc99;

        padding   : 20px;
        border    : 1px solid red;

    }

    #treeview {
        background: $side-bg;
    }

    #functions {
        background: $side-bg-2;
    }

    .splitter-1 paper-toolbar {
        background: $side-bg;
    }

    .splitter-2 paper-toolbar {
        background: $side-bg-2;
    }

    .toast.error {
        color: $red;
    }

    .toast {
        display         : block;
        position        : fixed;

        background-color: $main-bg;
        color           : $grey;

        min-height      : 48px;
        width           : 100%;
        min-width       : 0;
        padding         : 16px 24px;
        box-sizing      : border-box;
        // box-shadow        : 0 2px 5px 0 rgba(0, 0, 0, 0.26);

        border-radius   : 0;
        margin          : 0;
        font-size       : 14px;
        cursor          : wait;

        opacity         : 0.5;
        vertical-align  : middle;

        //top: 4px;
        bottom          : 0;
        left            : 0;

        z-index         : 2000;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

    }

}
