@import "_fonts";
// @import "_colors";

kt-layout {
    background: $main-bg;

    #treeview {
        background: $side-bg;
    }

    #functions {
        background: $side-bg-2;
    }

    .splitter-1 paper-toolbar {
        background: $side-bg;
    }

    .splitter-2 paper-toolbar {
        background: $side-bg-2;
    }



    .toast {
        display           : block;
        position          : fixed;

        background-color  : $main-bg;
        color             : $grey;

        min-height        : 48px;
        width             : 100%;
        min-width         : 0;
        padding           : 16px 24px;
        box-sizing        : border-box;
        // box-shadow        : 0 2px 5px 0 rgba(0, 0, 0, 0.26);

        border-radius     : 0;
        margin            : 0;
        font-size         : 14px;
        cursor            : wait;

        opacity           : 0.5;
        vertical-align: middle;

        // top: 4px;
        bottom: 0;
        left: 0;

        z-index: 2000;

        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);

    }

}
