@import "_fonts";
// @import "_colors";

$po-id-width: $spacer*5;
$po-id-padding: $spacer/2;

$po-loc-width: $spacer*5;
$po-loc-padding: $spacer/2;

$po-icon-width: 16px;

po-list {
    .headline {
        background: $side-bg;
        padding   : $spacer;
        color     : $grey-lighter;

        .function {
            display    : inline-block;
            color      : $grey;
            font-family: $monospaced;
            font-weight: 400;
        }

        .file {
            display: inline-block;
            color  : $grey-lighter;
        }

    }

}

po-line {
    .row > span {
        display: inline-block;
    }

    .row {
        padding      : $spacer/2 $spacer;
        border-bottom: 1px solid var(--kt-grey-lighter);
        box-sizing: border-box;

        .po-icon {
            width : $po-icon-width;
            height: $po-icon-width;
        }

        .po-id {
            color        : $grey;
            font-size    : $font-size-xs;
            font-family  : $monospaced;
            min-width    : $po-id-width;
            padding-right: $po-id-padding;
            text-align   : right;
        }

        .predicate {
            .predicate-name {
                min-width     : 8rem;
                font-weight   : 500;
                text-transform: uppercase;
            }

            .predicate-arg {
                color      : $grey;
                font-family: $monospaced;
            }

        }

        .location {
            float          : right;
            font-family    : $monospaced;
            text-decoration: underline;
            cursor         : pointer;
            min-width      : $po-loc-width;
            padding        : 0 $po-loc-padding;
            text-align     : right;
        }

        .state {
            min-width: 8rem;

            .discharge {}
        }

        .level-primary,
        .level-secondary {
            font-weight  : 400;
            // font-size    : 8px;
            border-radius: 15px;
            min-width    : 1.3em;
            display      : inline-block;
            padding      : $spacer/8;
            text-align   : center;
            margin       : 0 $spacer/2;
        }

        .level-secondary {
            color     : white;
            background: var(--kt-po-primary-bg);
        }

        .level-primary {
            background: var(--kt-po-secondary-bg);
        }

        .function-name {
            min-width  : 8rem;
            font-family: $monospaced;
        }

        .expression {
            color        : $grey;
            font-size    : $font-size-xs;
            font-family  : $monospaced;

            background   : var(--kt-grey-lighter);
            padding      : $spacer/8 $spacer/2;
            margin-left  : $spacer/2;
            border-radius: 10px;
        }

        .discharge-comment {
            font-size   : $font-size-sm;
            color       : $grey;
            width       : 100%;
            padding-left: $po-icon-width+$spacer;
        }

    }

}
