@import "_fonts";
// @import "_colors";


$po-id-width: 2rem;
$po-id-padding: 0.5rem;

po-list {
    .row > span {
        display: inline-block;
    }

    .row {
        padding      : 5px 1rem;
        border-bottom: 1px solid var(--kt-grey-lighter);

        .po-id {
            color        : $grey;
            font-size    : $font-size-xs;
            font-family  : $monospaced;
            min-width    : 2rem;
            padding-right: 0.5rem;
            text-align   : right;
        }

        .predicate {
            .predicate-name {
                min-width     : 8rem;
                font-weight   : 500;
                text-transform: uppercase;
            }

            .predicate-arg {
                color      : $grey;
                font-family: $monospaced;
            }

        }

        .state {
            min-width: 8rem;

            .discharge {}
        }

        .discharge-comment {
            font-size: $font-size-sm;
            color    : $grey;
            width: 100%;
            padding-left: $po-id-width+$po-id-padding;
        }

        .function-name {
            min-width  : 8rem;
            font-family: $monospaced;
        }

        .expression {
            color        : $grey;
            font-size    : $font-size-xs;
            font-family  : $monospaced;

            background   : var(--kt-grey-lighter);
            padding      : 2px 1rem;
            border-radius: 10px;
        }

    }

}
