@import "_consts";
@import "_node-info";
@import "_fonts";
@import "_treeview";
@import "_layout";
@import "_po-list";
@import "_chart";
@import "_filter";
@import "_code";

body,
html {
    font   : 300 $font-size-base "RobotoDraft","Roboto",sans-serif;
    margin : 0;
    padding: 0;
    height : 100%;
}

.edgePath path.path {
    stroke      : $grey;
    fill        : none;
    stroke-width: 1px;
}

.card.panel {
    h1,
    h2,
    h3,
    h4 {
        color: var(--kt-grey);
    }

    h4 {
        font-size: $font-size-xs;
    }
}
