@import "_consts";
@import "_colors";
@import "_node-info";
@import "_fonts";
@import "_treeview";
@import "_layout";
@import "_po-list";
@import "_chart";
@import "_filter";




body,
html {
    font   : 300 $font-size-base "RobotoDraft","Roboto",sans-serif;
    margin : 0;
    padding: 0;
    height : 100%;
}



.node rect {
    // stroke: #333;
    // fill: #fff;
}

.edgePath path.path {
    stroke      : $grey;
    fill        : none;
    stroke-width: 1px;
}
