<link rel="import" href="../common/node-decorator.html">
<dom-module id="functions-list">

    <template>
        <iron-list id="functionslist" items="[[functions]]" index-as="name" selection-enabled on-selected-item-changed="_selectedFunctionChanged" selected-item="{{_selectedItem}}">
            <template>
                <div class$="[[_computedClass(selected)]]">
                    <node-decorator show-count="true" statistics="[[_getStatsByFunction(item, statistics)]]"></node-decorator>
                    <span id="fname">{{item.name}}</span>
                </div>
            </template>
        </iron-list>
    </template>

    <script>
        Polymer({
            is: 'functions-list',

            properties: {

                project: Object,
                statistics: Object,

                selectedFile: {
                    type: Object,
                    observer: "_selectedFileChanged"
                },

                selectedFunction: {
                    type: Object,
                    notify: true,
                    observer: "_selectedFunctionChangedOutside"
                },

                functions: {
                    type: Array,
                    computed: '_getFunctionsByFile(project, selectedFile)'
                },


            },

            isEmpty:function(){
                    return !this.functions || !this.functions.length;
            },

            _selectedFileChanged: function(e) {
                if (this._selected) {
                    this.toggleClass("selected", false, this._selected);
                    this._selected = null;
                }

                this.selectedFunction = null;
                this._selected = null;
            },

            _getStatsByFunction: function(item, statistics){
                var stats = statistics.getStatsByFunction(item);
                return stats;
            },

            _getFunctionsByFile: function(project, file) {
                if (file && file.relativePath) {
                    var list = project.functionByFile[file.relativePath];
                    if (list) {
                        return _.sortBy(list, 'name');
                    } else {
                        return [];
                    }
                } else {
                    return [];
                }

            },

            _computedClass: function(selected) {
                return selected
                    ? "item selected"
                    : "item";
            },

            _selectedFunctionChanged: function(event) {                 
                this.ignoreOutsideEvent = true;
                this.set("selectedFunction", event.detail.value);
                this.ignoreOutsideEvent = false;
            },

            indexOf: function(itemName) {
                if (!this.functions) {
                    return -1;
                }
                for (var i = 0; i < this.functions.length; i++) {
                    if (this.functions[i].name === itemName) {
                        return i;
                    }
                }
                return -1;
            },

            _selectedFunctionChangedOutside: function(newval, oldFunc) {
                if (this.ignoreOutsideEvent) {
                    return;
                }

                console.log(newval);

                var index = -1;
                if (newval) {
                    if (newval.name) {
                        index = this.indexOf(newval.name);
                    }
                }

                if (index >= 0) {
                    this.$.functionslist.selectItem(index);
                } else {
                    this.$.functionslist.clearSelection();
                }

            }

        });
    </script>

</dom-module>
