<dom-module id="kt-help">

    <template>
        <div class="legend panel table">

            <h1>Legend</h1>
            <table style="width:100%; height:200px;">
                <tr>
                    <th style="width:calc(var(--spacer)*24)">
                        &nbsp;
                    </th>
                    <template is="dom-repeat" items="{{getStates()}}" as="state">
                        <th style$="width:20%; background:var(--kt-state-[[state]]-default-bg); ">
                            <div class="row">

                                <h3>[[state]]</h3>

                            </div>
                        </th>

                    </template>
                </tr>

                <template is="dom-repeat" items="{{getDischarges()}}" as="discharge">
                    <tr style$="background:var(--kt-discharge-[[discharge]]-hover-bg);">
                        <td class="headline">
                            <h3>[[discharge]]</h3>
                            <h4>[[getDischargeDescription(discharge)]]</h4>
                        </td>

                        <template is="dom-repeat" items="{{getStates()}}" as="state">
                            <td style$="background:var(--kt-state-[[state]]-[[discharge]]-bg);">
                                <div class="row">


                                    <h3 style$="background:var(--kt-state-[[state]]-[[getDischargeSubst(state, discharge)]]-bg);color:var(--kt-state-[[state]]-[[getDischargeSubst(state, discharge)]]-tx)">
                                        <iron-icon class="po-icon" icon$="{{_computeIcon(state, discharge)}}" on-click="select"></iron-icon>
                                    </h3>


                                </div>
                            </td>

                        </template>

                    </tr>

                </template>
            </table>
        </div>

    </template>

    <style is="kt-help">

        iron-icon {
            height: 1.5em;
            width: 1.5em;
            margin: 0;
            padding: 0;
        }

        .legend {
            padding: calc( var(--spacer)*2);
        }

        .state.assumption {
            padding-left: calc( var(--spacer)/2);
        }

        .state > .headline {
            border-bottom: calc( var(--spacer)/2) solid white;
            min-height: 2.5em;
            display: flex;
            align-items: center;
        }

        .assumption .primary,
        .assumption .secondary {
            display: none;
        }

        .primary,
        .secondary {
            max-width: 3em;
        }

    </style>

    <script>
        Polymer({
            is: 'kt-help',

            getDischargeDescription(discharge) {
                return kt.lang.dischargeDescriptions[discharge];
            },

            getStates: function() {
                return ["violation", "discharged", "open", "assumption"];
            },

            getLevels: function() {
                return kt.model.PoLevels;
            },

            getDischarges: function() {
                return kt.model.PoDischargeTypesArr;
            },

            getDischargeSubst: function(state, discharge) {
                if (state == "open" && discharge != "default")
                    return "undefined";

                if (state == "assumption") {
                    if (discharge != "api" && discharge != "ds" && discharge != "global" && discharge != "rv") {
                        return "undefined";
                    }
                }
                return discharge;
            },

            _computeIcon: function(state, discharge) {
                return "kt:state-" + state + "-" + discharge;
            }

        });
    </script>

</dom-module>
