<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/iron-list/iron-list.html">

<dom-module id="kt-list-selection">
    <template>
        <div class$="[[getListClass(grid)]]">
            <template is="dom-repeat" items="[[_items]]">
                <paper-checkbox checked$="[[item.selected]]" value="{{item.id}}" style$="{{styleOf(item.id)}}" on-change="_checkboxChanged">
                    [[item.name]]
                </paper-checkbox>
            </template>
        </div>
    </template>

    <style is="kt-list-selection">
        .list-container {
            overflow: scroll;
            max-height: 200px;
            min-height: 20px;
        }

        .grid-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .list-container paper-checkbox {
            display: block;
        }

        .grid-container paper-checkbox {
            flex-basis: 0.25;
            display: inline-block;
            width: 100px;
        }

    </style>

    <script>
        Polymer({
            is: 'kt-list-selection',

            properties: {
                selectedValues: {
                    type: Object,
                    notify: true
                },

                grid: {
                    type: Boolean,
                    notify: true,
                    value: false
                },

                _items: {
                    type: Array,
                    notify: true,
                    computed: "makeItems(allValues, selectedValues, itemNames)"
                },

                allValues: {
                    type: Object,
                    notify: true
                },

                itemNames: {
                    type: Object,
                    notify: true,
                    value: null
                },

                styles: {
                    type: Object,
                    notify: true
                }
            },

            getListClass: function(grid) {
                if (!grid) {
                    return "list-container";
                } else {
                    return "grid-container";
                }

            },
            makeItems: function(allValues, selectedValues, itemNames) {
                var ret = [];
                for (var i = 0; i < allValues.length; i++) {
                    ret.push({
                        id: allValues[i],
                        name: itemNames
                            ? itemNames[allValues[i]]
                            : allValues[i],
                        selected: selectedValues.contains(allValues[i])
                    });
                }
                return ret;
            },

            styleOf: function(item) {
                if (this.styles)
                    return this.styles[item];
                return "";
            },

            _checkboxChanged: function(event) {
                if (event.target.checked) {
                    this.selectedValues.add(event.target.value);
                } else {
                    this.selectedValues.delete(event.target.value);
                }

                this.notifyPath("selectedValues.length");
            }

        });
    </script>
</dom-module>
