<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/iron-list/iron-list.html">

<dom-module id="po-filter-panel">
    <template>
        <div class="container">
            <div class="path">
                [[_getFileName(filter.file)]]/[[filter.functionName]] : [[filter.predicate]] : [[_getStateName(filter.state)]]
            </div>

            <div class="stats flexchild">
                <span id="btnv" class="stat-violation" on-tap="_click">violations:[[statistics.countViolations]]</span>
                <span id="btno" class="stat-open" on-tap="_click">open:[[statistics.countOpen]]</span>
                <span id="btnd" class="stat-discharged" on-tap="_click">discharged:[[statistics.countDischarged]]</span>
            </div>

            <div class="controls">
                <paper-icon-button icon="icons:filter-list" on-tap="openSettings" id="filter-button" on-click="toggle"></paper-icon-button>
            </div>

        </div>

        <iron-collapse id="filtersettings">
            <paper-material elevation="4" class="card" id="filtersettings-container">
                <h2>Filter Proof Obligations:</h2>
                <div id="filtersettings-body">



                    <div id="states" class="card">
                        <h3>Proof Obligation state</h3>

                        <iron-list items="[[_getAllStates()]]">
                            <template>
                                <paper-checkbox checked style$="--paper-checkbox-label-checked-color:var(--kt-state-[[item]]-default-tx); --paper-checkbox-checked-color:var(--kt-state-[[item]]-default-bg)">
                                    [[item]]
                                </paper-checkbox>
                            </template>
                        </iron-list>
                    </div>

                    <div id="discharge-types" class="card">
                        <h3>Type of discharge</h3>

                        <iron-list items="[[_getDischargeTypes()]]">
                            <template>
                                <paper-checkbox checked style$="--paper-checkbox-label-checked-color:var(--kt-state-discharged-[[item]]-tx); --paper-checkbox-checked-color:var(--kt-state-discharged-[[item]]-tx)">
                                    [[item]]
                                </paper-checkbox>
                            </template>
                        </iron-list>
                    </div>

                    <div id="predicates" class="card">
                        <h3>Predicates</h3>
                        <iron-list items="[[allPredicates]]"  id="predicates-list">
                            <template>
                                <paper-checkbox checked style="--paper-checkbox-label-checked-color:var(--kt-text-color); --paper-checkbox-checked-color:var(--kt-text-color)">
                                    [[item]]
                                </paper-checkbox>
                            </template>
                        </iron-list>
                    </div>

                </div>
            </paper-material>

        </iron-collapse>

    </template>

    <style is="po-filter-panel">

        .flexchild {
            @apply(--layout-flex);
            /*padding: var(--spacer);
            margin: var(--spacer);*/
            background-color: var(--kt-panel-bg);
        }

        .kt-chart {
            width: 100%;
        }

        paper-checkbox.red {
            align-self: center;
            /*border: 1px solid var(--paper-green-200);*/
            /*padding: 8px 16px;*/

            --paper-checkbox-checked-color: var(--kt-state-violation-default-bg);
            --paper-checkbox-checked-ink-color: var(--kt-state-violation-default-tx);
            --paper-checkbox-unchecked-color: var(--kt-state-violation-default-tx);
            --paper-checkbox-unchecked-ink-color: var(--kt-state-violation-default-tx);
            --paper-checkbox-label-color: var(--kt-state-violation-default-tx);
            --paper-checkbox-label-spacing: 0;
            /*--paper-checkbox-margin: 8px 16px 8px 0;*/
            /*--paper-checkbox-vertical-align: top;*/
        }

    </style>

    <script>
        Polymer({
            is: 'po-filter-panel',

            properties: {

                statistics: {
                    type: Object,
                    notify: true
                },

                filter: {
                    type: Object,
                    notify: true
                },

                allPredicates: {
                    computed: "_getAllPredicates(statistics)"
                }
            },

            toggle: function() {
                this.$.filtersettings.toggle();
            },

            _getDischargeTypes: function() {
                return kt.graph.PoDischargeTypesArr;
            },

            _getAllStates: function() {
                return kt.graph.PoStatesArr;
            },

            _getAllPredicates: function(statistics) {
                if (statistics) {
                    return statistics.allPredicates;
                } else {
                    return ["no data"];
                }
            },

            _getStateName: function(filterState) {
                if (filterState) {
                    return kt.graph.PoStates[filterState];
                } else {
                    return null;
                }
            },

            _getFileName: function(file) {
                if (file)
                    return file.relativePath;
                return "no file selected";
            },

            _click: function(event) {
                if (event.srcElement == this.$.btnv) {
                    this.filter.state = kt.graph.PoStates.violation;

                    // this.set("filter.state",  kt.graph.PoStates.violation);
                } else if (event.srcElement == this.$.btnd) {
                    this.set("filter.state", kt.graph.PoStates.discharged);
                } else if (event.srcElement == this.$.btno) {
                    this.set("filter.state", kt.graph.PoStates.open);
                }
                this.notifyPath("filter.state");
            }
        });
    </script>
</dom-module>
