<dom-module id="functions-list">

    <template>
        <iron-list id="functionslist" items="[[functions]]" selection-enabled on-selected-item-changed="_selectedFunctionChanged" selected-item="{{selectedItem}}">
            <template>
                <div class$="[[_computedClass(selected)]]">{{item.name}}</div>
            </template>
        </iron-list>
    </template>

    <script>
        Polymer({
            is: 'functions-list',

            properties: {
                selectedFile: {
                    type: Object,
                    observer: "_selectedFileChanged"
                },

                selectedFunction: {
                    type: String,
                    value: null,
                    notify: true
                },

                functions: {
                    type: Array,
                    computed: '_getFunctionsByFile(selectedFile)'
                }
            },

            _selectedFileChanged: function(e) {

                if (this._selected) {
                    this.toggleClass("selected", false, this._selected);
                    this._selected = null;
                }

                this.selectedFunction = null;
                this._selected = null;
            },

            _getFunctionsByFile: function(file) {
                if (file && file.relativePath) {
                    var list =  kt.Globals.project.functionByFile[file.relativePath];
                    if(list){
                        return _.sortBy(list, 'name');
                    }else{
                        return [];
                    }
                } else {
                    return [];
                }

            },

            _computedClass: function(selected) {
                return selected
                    ? "item selected"
                    : "item";
            },

            _selectedFunctionChanged: function() {
                var newval = this.$.functionslist.selectedItem;
                if (newval) {
                    this.set("selectedFunction", newval.name);
                } else {
                    this.set("selectedFunction", null);
                }

            }

        });
    </script>

</dom-module>
