<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">

<link rel="import" href="../common/node-decorator.html">

<!--
`<paper-tree-node>` display a tree node with expandable/collapsible capabilities and actions menu.

A node is defined by a name, an icon and a list of actions.

Example:

    <paper-tree-node></paper-tree-node>

### Styling

The following custom properties and mixins are available for styling:

Custom property | Description | Default
----------------|-------------|----------
`--paper-tree-selected-background-color`      | Highlight color for selected node           | `rgba(200, 200, 200, 0.5)`
`--paper-tree-selected-color`                 | Text and icon color for selected node       | `inherit`
`--paper-tree-toggle-theme`                   | Change theme for node +/- toggle            |
`--paper-tree-icon-theme`                     | Change theme for node icon                  |

@demo
-->

<dom-module id="paper-tree-node">

    <style>

        :host(.selected) > .node-container > .node-row {
            background-color: var(--paper-tree-selected-background-color, rgba(200, 200, 200, 0.5));
            color: var(--paper-tree-selected-color, inherit);
        }

        [hidden] {
            display: none;
        }

    </style>

    <template>
        <div class="node-container">
            <div class="node-row">

                <iron-icon class="node-icon" icon$="{{_computeCollapseIcon(data.*)}}" on-click="toggleChildren"></iron-icon>

                <template is="dom-if" if="{{!_showIcon(data)}}">
                    <node-decorator show-count="true" statistics="[[_getStatsByFile(data, statistics)]]"></node-decorator>
                </template>

                <template is="dom-if" if="{{_showIcon(data)}}">
                    <iron-icon class="node-icon" icon$="{{_computeIcon(data.icon)}}" on-click="select"></iron-icon>
                </template>

                <span class="node-name" on-click="select">{{data.name}}</span>

            </div>
            <template is="dom-if" if="{{data.open}}">
                <ul>
                    <template is="dom-repeat" items="{{data.children}}">
                        <li>
                            <paper-tree-node data="{{item}}" actions="{{actions}}" statistics="[[statistics]]"></paper-tree-node>
                        </li>
                    </template>
                </ul>
            </template>
        </div>
    </template>

    <script>

        Polymer({

            is: 'paper-tree-node',

            properties: {
                statistics: Object,

                /**
             * Data hold by this node (contains the children).
             *
             * Specific data:
             *
             * - `data.name`: string representing the node name.
             * - `data.icon`: string telling which icon to use (default to 'folder' icon).
             * - `data.open`: boolean telling whether the node is expanded or not.
             * - `data.children` array containing the children of the node.
             */
                data: {
                    type: Object,
                    value: function() {
                        return null;
                    }
                },

                /**
             * `actions` available for this node. Each action object has the following fields:
             *
             * - `action.label`: string representing the display name of the menu item.
             * - `action.event`: string which is the event name to dispatch whenever the item is clicked.
             *
             */
                actions: {
                    type: Array,
                    value: function() {
                        return null;
                    }
                },

                _pathToOpen: Object
            },

            listeners: {
                "toggle": "_onNodeToggle"
            },

            _computeCollapseIcon: function(change) {
                var open = change && change.base && change.base.open;
                var children = change && change.base && change.base.children;
                return ((open && children && children.length)
                    ? 'expand-more'
                    : children && children.length
                        ? 'chevron-right'
                        : '');
            },

            _showIcon: function(data) {
                if (data)
                    return data.dir;
                return false;
            },

            _getStatsByFile: function(dataitem, statistics) {
                var stats = statistics.getStatsByFile(dataitem);
                return stats;
            },

            /**
         * Compute the necessary node icon.
         *
         * @param {string=folder} an icon name.
         * @return {string} the computed icon name.
         */
            _computeIcon: function(icon) {
                return icon
                    ? icon
                    : 'folder';
            },

            _actionClicked: function(event) {
                this.fire(event.model.item.event, this);
            },

            /**
         * Highlights node as the selected node.
         */
            select: function() {
                this.fire("select", this);
            },

            /**
         * Returns the parent tree node. Returns `null` if root.
         */
            getParent: function() {
                return this.domHost.tagName === 'PAPER-TREE-NODE'
                    ? this.domHost
                    : null;
            },

            /**
         * Returns the children tree nodes.
         */
            getChildren: function() {
                return Polymer.dom(this.root).querySelectorAll('paper-tree-node');
            },

            findChild: function(nodename) {
                var childElements = this.getChildren();
                for (var i = 0; i < childElements.length; i++) {
                    if (childElements[i].data.name == nodename) {
                        return childElements[i];
                    }
                }
                return null;
            },

            /**
         * Display/Hide the children nodes.
         */
            toggleChildren: function() {
                this.set("data.open", !this.data.open && this.data.children && this.data.children.length);
                setTimeout(this.fire.bind(this, "toggle", this));
            },

            openChildren: function() {
                this.set("data.open", true);
                setTimeout(this.fire.bind(this, "toggle", this));
            },

            selectPath: function(split) {
                if (split.length) {
                    if (this.data.name == split[0]) {
                        if (this.data.children && this.data.children.length) {
                            var subpath = split.splice(1);
                            if (subpath.length) {
                                this._pathToOpen = subpath;
                                this.openChildren();
                            }

                        } else {
                            setTimeout(this.fire.bind(this, "innserSelect", this));
                        }

                    }

                }

            },

            _onNodeToggle: function(event) {

                if (event.detail.data === this.data && this.data.open) {
                    if (this._pathToOpen) {
                        var subpath = this._pathToOpen;
                        this._pathToOpen = null;
                        var child = this.findChild(subpath[0]);
                        if (child) {
                            child.selectPath(subpath);
                        } else {
                            throw subpath[0] + " not found";
                        }
                    }
                }
            }
        });
    </script>
</dom-module>
