<dom-module id="po-list">
    <template>

        <iron-list items="[[filteredProofObligations]]">
            <template>
                <div on-click="_clickListener" class$="po row [[_getClass(item)]]">

                    <iron-icon class="po-icon" icon$="{{_computeIcon(item)}}" on-click="select"></iron-icon>

                    <span class="po-id">{{item.id}}</span>

                    <template is="dom-if" if="[[!functionName]]">
                        <span class="function-name">[[item.functionName]]</span>
                    </template>

                    <span class="state">
                        <sup>[[item.level]]</sup>
                        [[item.state]]
                        <template is="dom-if" if="[[item.dischargeType]]">
                            :<span class="discharge">{{item.dischargeType}}</span>
                        </template>
                    </span>

                    <span class="predicate">
                        <span class="predicate-name">
                            [[item.predicate]]
                        </span>
                        <template is="dom-if" if="[[item.predicateArgument]]">
                            (<span class="predicate-arg">
                                [[item.predicateArgument]]
                            </span>)
                        </template>
                    </span>

                    <span class='expression'>
                        [[item.expression]]
                    </span>

                    <template is="dom-if" if="[[item.discharge]]">
                        <template is="dom-if" if="[[item.discharge.message]]">
                            <span class="discharge-comment">{{item.discharge.message}}</span>
                        </template>
                    </template>

                </div>
            </template>
        </iron-list>

    </template>

    <script>
        Polymer({
            is: 'po-list',

            properties: {
                selectedFile: Object,
                selectedFunction: Object,
                currentProject: Object,
                progress: {
                    type: Object,
                    notify: true
                },

                functionName: String,

                filteredProofObligations: {
                    type: Object,
                    notify: true
                }
            },

            _computeIcon: function(node) {
                return "kt:state-" + node.extendedState.toLowerCase();
            },

            _getClass: function(node) {
                return "po-" + node.extendedState.toLowerCase();
            },

            _clickListener: function(e) {

                // if (this.selected) {     this.toggleClass("selected", false, this.selected);     this.selected = null; }
                //
                // this.toggleClass("selected", true, e.target); this.selected = e.target;

            }

        });
    </script>
</dom-module>
