<dom-module id="source-view">

    <template>

        <div id="scrollable">
            <iron-list scroll-target="scrollable" id="listOfLines" items="[[lines]]" max-physical-count="[[lines.length]]" selection-enabled on-selected-item-changed="_onLineSelected">
                <template>
                    <div class$="code-line [[_getClass(_loadedFile, index, statistics)]]">

                        <span class="info">
                            <span id="line-number">[[_lineNumber(index)]]</span>
                            <span class="state-marker"></span>
                            <span id="po-count">[[_getPoNumber(_loadedFile, index, statistics)]]</span>
                        </span>

                        <pre class="text">[[item.text]]</pre>

                    </div>
                </template>
            </iron-list>
        </div>

    </template>

    <script>
        Polymer({
            is: 'source-view',

            properties: {
                container: Object,
                currentProject: Object,
                _loadedFile: String,

                lines: {
                    type: String
                },

                statistics: {
                    type: Object,
                    notify: true
                }
            },

            _getPoNumber: function(file, index, statistics) {
                if (file) {
                    var stats = statistics.getStatsByFileLine(file.relativePath, index);
                    if (stats) {
                        return stats["sum"];
                    } else {
                        return "";
                    }

                } else {
                    return "-";
                }

            },

            _getClass: function(file, index, statistics) {
                var clazz = "";
                if (file && statistics.getStatsByFileLine) {
                    var stats = statistics.getStatsByFileLine(file.relativePath, index);
                    if (stats) {
                        if (stats[kt.graph.PoStates[kt.graph.PoStates.violation]] > 0) {
                            clazz += " " + kt.graph.PoStates[kt.graph.PoStates.violation];
                        }

                        if (stats[kt.graph.PoStates[kt.graph.PoStates.open]] > 0) {
                            clazz += " " + kt.graph.PoStates[kt.graph.PoStates.open];
                        }

                        if (stats[kt.graph.PoStates[kt.graph.PoStates.discharged]] > 0) {
                            clazz += " " + kt.graph.PoStates[kt.graph.PoStates.discharged];
                        }

                    }

                }
                return clazz;
            },

            jumpToLine: function(line) {
                if (!line) {
                    line = 0;
                }
                if (line > 4)
                    line = line - 4;

                var task = function() {
                    if(this.$.listOfLines.items)
                        this.$.listOfLines.scrollToIndex(line);
                }
                setTimeout(task.bind(this), 100);

            },

            _lineNumber: function(index) {
                return index + 1;
            },

            maybeLoadFile: function(newFile, aftereffect) {
                // console.error("maybeLoadFile:"+this._shouldLoad(newFile));
                if (this._shouldLoad(newFile)) {
                    this._loadedFile = newFile;
                    //XXX: handle errors;
                    this.currentProject.loadFile(newFile.relativePath).then(function(fileContents) {
                        this.set("lines", fileContents.lines);
                        aftereffect();
                    }.bind(this));

                } else {
                    aftereffect();
                }

            },

            _shouldLoad: function(newFile) {
                if (newFile && !newFile.dir) {
                    if (this._loadedFile) {
                        return this._loadedFile.relativePath != newFile.relativePath;
                    } else {
                        return true;
                    }
                }
                return false;
            }
        });
    </script>

</dom-module>
