<dom-module id="source-view">
    <template>

        <!-- source view [[file.relativePath]]
        data: [[lines]] -->

        <iron-list id="functionslist" items="[[lines]]" selection-enabled on-selected-item-changed="_onLineSelected">
            <template>
                <pre class="code-line">[[item.text]]</pre>
            </template>
        </iron-list>

    </template>

    <style is="source-view"></style>

    <script>
        Polymer({
            is: 'source-view',

            properties: {
                currentProject: Object,

                file: {
                    type: Object,
                    notify: true,
                    observer: '_fileChanged'
                },

                lines: {
                    type: String
                }

            },

            _fileChanged: function(newFile, oldFile) {
                if (this.file && !this.file.dir) {
                    this.currentProject.loadFile(this.file.relativePath).then(function(fileContents) {

                        this.set("lines", fileContents.lines);

                    }.bind(this));
                }

            }

        });
    </script>

</dom-module>
