<link rel="import" href="function-contracts-list.html">
<link rel="import" href="contract-info.html">

<dom-module id="contracts-scene">
    <style>
        .btn-save {
            background-color: var(--brand-color);
            color: white;
        }

        .container {
            @apply --layout-vertical;
            padding-top: 40px;
        }
    </style>

    <template>
        <paper-toast id="toast" text="done" horizontal-align="right" duration="6000"></paper-toast>


        <div class="container">

            <contract-info 
                file="[[selectedFileContract]]" 
                contract="[[selectedFunctionContract]]" 
                global-variables="[[selectedFileContract.globalVariables]]"></contract-info>

            <div class="control-panel separated-top">
                <paper-button class="btn-save" raised on-tap="saveContracts">save</paper-button>
            </div>

        </div>

    </template>



    <script>
        Polymer({
            is: 'contracts-scene',
            properties: {

                selectedFile: {
                    type: Object,//CFile or dir
                    observer: "_selectedFileChanged"
                },

                selectedFunction: {
                    type: Object,//CFunction
                    notify: true,
                    observer: "_selectedFunctionChanged"
                },

                controller: {
                    type: Object
                },

                selectedFunctionContract: Object,
                selectedFileContract: Object,
            },

            saveContracts: function () {
                const cb = (x) => {
                    this.$.toast.text = "Contract saved: " + x;
                    this.$.toast.open();
                }
                this.controller.saveContract(this.selectedFileContract, cb);
            },

            _rowClass: function (selected) {
                return selected ? "selected" : ""
            },

            _onContractFunctionSelected: function (e) {
                this.selectedFunctionContract = e.detail;
            },


            _selectedFileChanged: function (e) {
                let fileContract = this.controller.getFileContracts(e);
                this.selectedFileContract = fileContract;
            },

            _selectedFunctionChanged: function (cfun) {
                let functionContract = this.controller.getFunctionContracts(cfun);
                this.selectedFunctionContract = functionContract;
            },

        });
    </script>

</dom-module>