<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html" />
<link rel="import" href="../../../bower_components/paper-input/paper-input.html" />
<link rel="import" href="../../../bower_components/paper-menu-button/paper-menu-button.html" />
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html" />

<dom-module id="c-argument">

    <style>
        :host {
            --nested-color: rgba(100, 120, 255, 0.15);
            --button-padding: 8px;
            --button-margin: 0.29em;

            @apply --layout-horizontal;
            @apply --layout-center;

            /* background: var(--nested-color); */
            margin: var(--spacer-2);
            padding: var(--spacer-2);
        }

        .vertical {
            @apply --layout-vertical;
        }

        .nested-expression-bg {
            background: var(--nested-color);
        }

        .nested-expression {
            margin: calc( var(--button-margin) + 8px);
            /* margin-top: - var(--button-margin); */
            /* border: 1px solid var(--nested-color); */
            padding: var(--spacer-2);
        }

        .btn-api-ref {
            text-transform: initial !important;
        }

        h4{
            /* margin-left: var(--spacer-2); */
        }
    </style>

    <template>
        <div class="vertical">
            <paper-menu-button class="button-padding" id="rel_btn" no-animations close-on-activate>
                <paper-button raised slot="dropdown-trigger" class$="[[_getOperandBtnClass(arg.kind)]]">
                    [[_getOperandDisplayName(arg.kind)]]</paper-button>
                <paper-listbox slot="dropdown-content" selected="{{selectedType}}">
                    <template is="dom-repeat" items="[[operandTypes]]">
                        <paper-item>[[_getOperandDisplayName(item)]]</paper-item>
                    </template>
                </paper-listbox>
            </paper-menu-button>

            <!-- addressed -->
            <template is="dom-if" if="[[arg.addressed]]">
                <div class="nested-expression nested-expression-bg">
                    <h4>Addressed Value:</h4>
                    <c-apply apply="[[arg]]" global-variables="[[globalVariables]]"></c-apply>
                </div>
            </template>

        </div>
        <template is="dom-if" if="[[arg.isField]]">
            <paper-input class="button-padding" label="Field name" value="{{arg.field}}"></paper-input>
        </template>

        <template is="dom-if" if="[[arg.isApiRef]]">
            <paper-menu-button class="button-padding" no-animations close-on-activate>
                <paper-button raised slot="dropdown-trigger" class="btn-api-ref">
                    [[arg.ref]]</paper-button>
                <paper-listbox slot="dropdown-content" attr-for-selected="item-name" selected="{{arg.ref}}">
                    <template is="dom-repeat" items="[[globalVariables]]">
                        <paper-item item-name="[[item.name]]">[[item.name]]</paper-item>
                    </template>
                </paper-listbox>
            </paper-menu-button>
        </template>

        <template is="dom-if" if="[[arg.isConst]]">
            <paper-input class="button-padding" label="Numeric constant" value="{{arg.value}}"></paper-input>
        </template>




    </template>


    <script>



        Polymer({
            is: 'c-argument',

            observers: [
                'argsParamsChanged(arg.*)'
            ],

            properties: {
                arg: {
                    type: Object,
                    observer: '_onArgChanged',
                    notify: true
                },

                globalVariables: {
                    type: Array
                },

                operandTypes: {
                    type: Array,
                    value: () => Contracts.ARGUMENT_TYPES
                },

                selectedType: {
                    type: Number,
                    observer: "_onSelectedTypeIndexChanged"
                },

            },

            _onSelectedTypeIndexChanged(idx) {
                const type = this.operandTypes[idx];
                let newArg = Contracts.changeArgumentType(type);

                this.set("arg", newArg);
            },

            _getOperandBtnClass(kind) {
                if (kind == 'addressed-value') {
                    return "nested-expression-bg"
                }
                return "";
            },

            argsParamsChanged:function(event){
                this.notifyPath("arg");
            },

            _getOperandDisplayName: function (kind) {
                return Contracts.ARGUMENT_TYPES_NAMES[kind];
            },

            _onArgChanged: function (c) {
                // console.log(c);
            },




        });


    </script>

</dom-module>

<dom-module id="c-apply">
    <style>
        :host {
            --button-padding: 8px;
            --button-margin: 0.29em;
        }

        .group {
            @apply --layout-horizontal;
            @apply --layout-center;
        }

        .button-padding {
            padding: var(--button-padding)
        }

        .nested-expression-bg {
            background: rgba(100, 120, 255, 0.15);
        }

        .nested-expression {
            margin: calc( var(--button-margin) + 8px);
            margin-top: - var(--button-margin);
            border: 1px solid var(--kt-grey-light);
            padding-top: 10px;
        }

        .verb {
            font-weight: 100;
            padding: var(--button-padding);
            color: var(--selection-tx);
            white-space: nowrap;
        }

        small {
            color: var(--kt-grey);
            padding-left: var(--button-padding);
        }

        .error{
            color: var(--kt-red);
            padding: var(--spacer);
        }
    </style>

    <template>

        <template is="dom-if" if="[[apply.error]]">
             <div class="error">[[apply.error]]</div>
        </template>

        <small class="code">
            [[apply.displayString]]
        </small>
            
        <div class="group">


            <c-argument arg="{{apply.argument1}}" global-variables="[[globalVariables]]"></c-argument>


            <!-- RELATION -->
            <template is="dom-if" if="[[apply.addressed]]">
                <div class="verb">--&gt;</div>
            </template>

            <template is="dom-if" if="[[not(apply.addressed)]]">

                <template is="dom-if" if="[[not(apply.binary)]]">
                    <div class="verb">is</div>
                </template>

                <paper-menu-button id="rel_btn" no-animations close-on-activate>
                    <paper-button raised slot="dropdown-trigger">[[apply.displayName]]</paper-button>
                    <paper-listbox slot="dropdown-content" selected="{{selectedRelation}}">
                        <template is="dom-repeat" items="[[relations]]">
                            <paper-item>[[_relationDisplayName(index)]]</paper-item>
                        </template>
                    </paper-listbox>
                </paper-menu-button>

            </template>


            <!-- Operand 2 -->
            <template is="dom-if" if="[[apply.argument2]]">
                <c-argument arg="{{apply.argument2}}" global-variables="[[globalVariables]]"></c-argument>
            </template>

            

        </div>
       



    </template>



    <script>
        Polymer({
            is: 'c-apply',

            observers: [
                'formulaArgsChanged(apply.*)'
            ],
            properties: {

                relations: {
                    type: Array,
                    value: () => Contracts.RELATIONS,
                    readonly: true
                },

                globalVariables: {
                    type: Array
                },

                holder: {
                    type: Object,
                    notify: true,
                },

                apply: {
                    type: Object,
                    notify: true
                },

                selectedRelation: {
                    type: Number,
                    observer: "_onSelectedRelation"
                },

                // displayString: {
                //     type: String,
                //     notify: true,
                //     value: () => { this.apply ? this.apply.displayString : " ?? " }
                // }
            },

            formulaArgsChanged: function (a) {
                // if (this.apply){
                //     this.set("displayString", "" + this.apply.displayString);
                // }
                this.notifyPath("apply.displayString");                    
                this.notifyPath("apply.error");
            },

            not: function (e) {
                return !(e);
            },

            _onSelectedRelation: function (e) {
                console.error("_onSelectedRelation:" + e);
                const op = this.relations[e];
                const newObj = Contracts.changeRelationType(this.apply, op);
                this.holder.apply = newObj;
                this.apply = newObj;


                this.notifyPath("holder");
                this.notifyPath("apply");

            },



            _relationDisplayName: function (index) {
                let name = this._relationName(index);
                return !!name ? this._relationNameByKey(name) : "- unconstrained -";
            },

            _relationName: function (index) {
                return index >= 0 && index < this.relations.length && this.relations[index];
            },

            _relationNameByKey: function (key) {
                if (Contracts.RELATIONS_NAMES[key]) {
                    return Contracts.RELATIONS_NAMES[key]
                } else {
                    return key;
                }
            },

            not: function (e) {
                return !(!!e);
            },

            _findRelationIndex(apply) {
                return Contracts.RELATIONS.indexOf(apply.op);
            },



            formulaChanged: function (e) {
                const a = this.apply;
                if (a) {
                    this._debug = JSON.stringify(a, null, ' ');
                    this._computedRelation = this._findRelationIndex(a);
                    // console.log(this._computedRelation);

                    if (a.field) {
                        this.selectedOperandIndex1 = 0;
                    } else if (a.return) {
                        this.selectedOperandIndex1 = 1;
                    } else if (a.apply) {
                        this.selectedOperandIndex1 = 2;
                    }


                } else {
                    this._computedRelation = -1;
                }

                // this.predicates = predicates;
            },






        });
    </script>

</dom-module>

<!-- ****************** -->

<dom-module id="contract-info">
    <style>
        :host {
            --bth-add-size: 32px;
        }

        .postcondition {
            background-color: var(--selection-md-bg);
            padding: 2px;


            margin-bottom: 10px;
            border-radius: 5px;
        }

        .btn-add {
            border-radius: 50%;
            background-color: var(--brand-color);
            color: white;
            min-width: var(--bth-add-size);
            width: var(--bth-add-size);
            max-width: var(--bth-add-size);
            padding: 0;
            height: var(--bth-add-size);
            min-height: var(--bth-add-size);
            max-height: var(--bth-add-size);
            font-size: 20px;
        }

        .collapsible {
            --paper-expansion-panel-header: {
                font-size: 12px;
                cursor: pointer;
                border-top: 1px solid var(--selection-lt-bg);
                text-transform: uppercase;
                padding-left: var(--spacer);
                /* border-bottom: 1px solid var(--separator-color); */
            }


            --paper-expansion-panel-content: {
                padding: var(--spacer-2);
                padding-bottom: var(--spacer);
            }
        }
        h1, h2, h3{
            margin: var(--spacer) 0 !important;
            padding: 0!important;
            /* margin-bottom: var(--spacer); */
        }
    </style>

    <template>
        <template is="dom-if" if="[[not(contract.name)]]">
            <h1>[[file.name]]</h1>
            <h3>no function selected</h3>
        </template>

        <template is="dom-if" if="[[contract.name]]">

            <h2 class="code">[[contract.name]]([[contract.parameters]])</h2>

            <paper-expansion-panel class="collapsible" header="Preconditions: ([[contract.preconditions.length]])" opened>
                <!-- <h3>Preconditions: ([[contract.preconditions.length]])</h3> -->
                <template is="dom-repeat" items="[[contract.preconditions]]">
                    <div class="postcondition">
                        <c-apply holder="[[item]]" apply="[[item.apply]]" global-variables="[[globalVariables]]"></c-apply>
                    </div>
                </template>
                <div class="control-panel">
                    <paper-button raised on-tap="addPreCondition" class="btn-add">+</paper-button>
                </div>
            </paper-expansion-panel>

            <paper-expansion-panel class="collapsible" header="Postconditions: ([[contract.postconditions.length]])" opened>
                <!-- <h3>Postconditions: ([[contract.postconditions.length]])</h3> -->
                <template is="dom-repeat" items="[[contract.postconditions]]">
                    <div class="postcondition">
                        <c-apply holder="[[item]]" apply="[[item.apply]]" global-variables="[[globalVariables]]"></c-apply>
                    </div>
                </template>
                <div class="control-panel">
                    <paper-button raised on-tap="addPostCondition" class="btn-add">+</paper-button>
                </div>
            </paper-expansion-panel>

        </template>

    </template>



    <script>

        Polymer({
            is: 'contract-info',
            properties: {
                contract: {
                    type: Object,
                    observer: '_onContractChanged'
                },

                file: {
                    type: Object
                },

                globalVariables: {
                    type: Array
                }

            },

            _onContractChanged: function (c) {
                // console.log(c);
            },

            addPostCondition: function () {
                this.push("contract.postconditions", Contracts.Math.makeDefault());
            },

            addPreCondition: function () {
                this.push("contract.preconditions", Contracts.Math.makeDefault());
            },

            not: function (e) {
                return !e;
            }
        });


    </script>


</dom-module>