<dom-module id="function-contracts-list">
    <style>
        .functioncontracts{

        }

        .functioncontracts .po-wrapper.selected{
            background-color: var(--selection-bg);
        }

     
    </style>

    <template>


        <iron-list id="functioncontracts" class="functioncontracts" items="[[contracts]]" as="func" selected-item="{{selectedFuction}}" selection-enabled>
            <template>
                <div class$="po-wrapper [[_rowClass(selected)]]">
                    <div class="row">
                        <span class='mid'>
                            <div class="function-name">
                                [[func.name]] ([[func.parameters]])
                            </div>
                            <br>
                            <div class="conditions">[[func.preconditionsString]]</div>
                            <div class="conditions">[[func.postconditionsString]]</div>
                        </span>

                        <span class='right'>
                            <template is="dom-if" if="[[func.ignore]]">
                                ignored
                            </template>
                        </span>

                    </div>
                </div>
            </template>
        </iron-list>


    </template>



    <script>
        Polymer({
            is: 'function-contracts-list',
            properties: {
                contracts: {
                    type: Array
                },

                selectedFuction: {
                    type: Object,
                    observer: '_onFunctionContractSelected'
                }
            },

            _rowClass: function (selected) {
                return selected ? "selected" : ""
            },

            _onFunctionContractSelected: function (e) {
                this.fire("contract-function-selected", this.selectedFuction);
            }

        });
    </script>


</dom-module>