<dom-module id="node-decorator">

    <template>

        <div class$="stats [[_getClass(statistics)]]">

            <span class="state-marker"></span>

            <template is="dom-if" if="[[showCount]]">
                <span id="po-count">[[_getSum(statistics)]]</span>
            </template>

        </div>

    </template>

    <script>
        Polymer({
            is: 'node-decorator',

            properties: {
                showCount: Boolean,

                statistics: {
                    type: Object,
                    notify: true
                }
            },

            _getSum: function(stats) {
                var sum = 0;
                if (stats) {
                    if (stats[model.PoStates[model.PoStates.violation]] > 0) {
                        sum += stats[model.PoStates[model.PoStates.violation]];
                    }

                    if (stats[model.PoStates[model.PoStates.open]] > 0) {
                        sum += stats[model.PoStates[model.PoStates.open]];
                    }

                    if (stats[model.PoStates[model.PoStates.discharged]] > 0) {
                        sum += stats[model.PoStates[model.PoStates.discharged]];
                    }
                }

                return sum > 0
                    ? sum
                    : null;

            },

            _getClass: function(stats) {
                var clazz = "";

                if (stats) {
                    if (stats[model.PoStates[model.PoStates.violation]] > 0) {
                        clazz += " " + model.PoStates[model.PoStates.violation];
                    }

                    if (stats[model.PoStates[model.PoStates.open]] > 0) {
                        clazz += " " + model.PoStates[model.PoStates.open];
                    }

                    if (stats[model.PoStates[model.PoStates.discharged]] > 0) {
                        clazz += " " + model.PoStates[model.PoStates.discharged];
                    }

                }

                return clazz;
            }
        });
    </script>

</dom-module>
