<dom-module id="kt-stats">
    <template>
        <div class="summary-container">

            <div class="container flex-hor">
                <div class="container flex-ver flexchild">

                    <paper-material elevation="1" class$="card panel flexchild [[_hiddenIfNoDischarged]]">
                        <h3>Proof obligations by type of discharge</h3>
                        <div id="poByDischarge" class="kt-chart"></div>
                    </paper-material>

                    <paper-material elevation="1" class="card panel flexchild rtl">
                        <h3>Proof obligations by file (top 10)</h3>
                        <div id="poByFile" class="kt-chart"></div>
                    </paper-material>

                </div>

                <div class="container flex-ver flexchild">
                    <paper-material elevation="1" class="card panel flexchild rtl">
                        <h3>Proof obligations by function (top [[poByFunctionMaxRows]])</h3>
                        <div id="poByFunction" class="kt-chart"></div>
                    </paper-material>
                </div>

            </div>

            

            <!-- ROW -->
            <div class="container flex-hor">

                <!-- COL -->
                <div class="container flex-ver flexchild">
                    <paper-material elevation="1" class="card panel flexchild">
                        <h3>Proof obligations by predicate</h3>
                        <div id="poByRedicate" class="kt-chart"></div>
                    </paper-material>
                </div>

                 
            </div>

            <!-- ROW -->
            <div class="container flex-hor">
                <paper-material elevation="1" class="card panel flexchild rtl">
                    <h3><b>Functions</b> by number of <b>PO dependencies</b> (top [[poByFunctionMaxRows]])</h3>
                    <div id="assumptionsByFunction" class="kt-chart"></div>
                </paper-material>


                <paper-material elevation="1" class="card panel flexchild rtl">
                    <h3><b>Files</b> by number of <b>PO dependencies</b> (top [[poByFunctionMaxRows]])</h3>
                    <div id="dependenciesByFileChart" class="kt-chart"></div>
                </paper-material>
            </div>
        </div>

    </template>

    <style is="kt-stats">
        .summary-container {
            padding-top: var(--filter-panel-height);
        }

        .flex-hor {
            @apply --layout-horizontal;
            @apply --layout-wrap;
        }

        .flex-ver {
            @apply --layout-vertical;
            @apply --layout-wrap;
        }

        .flexchild {
            @apply --layout-flex;
        }

        .panel {
            min-width: 350px;
            padding: var(--spacer);
            margin: var(--spacer);
            background-color: var(--kt-panel-bg);
        }

        .kt-chart {
            width: 100%;
        }

        .hidden {
            display: none;
        }
    </style>

    <script>
        Polymer({
            is: 'kt-stats',

            properties: {

                functionsByComplexityBMaxRows: {
                    type: Number,
                    value: 10
                },

                poByFunctionMaxRows: {
                    type: Number,
                    value: 20
                },

                statistics: {
                    type: Object,
                    notify: true,
                    observer: '_statisticsChanged'
                },

                filter: {
                    type: Object,
                    notify: true
                }
            },

            listeners: {
                "chart-bar-selected": "_chartBarSelected",
                "chart-row-selected": "_chartRowSelected"
            },

            _statisticsChanged: function (newVal, oldVal) {
                if (newVal) {
                    newVal.updateChart(this, d3.select("#poByRedicate"));
                    newVal.updatePoByDischargeChart(this, d3.select("#poByDischarge"));
                    newVal.updatePoByFunctionChart(this.poByFunctionMaxRows, this, d3.select("#poByFunction"));
                    newVal.updateAssumptionsByFunctionChart(this.poByFunctionMaxRows, this, d3.select("#assumptionsByFunction"));
                    // newVal.updateInAssumptionsByFunctionChart(this.poByFunctionMaxRows, this, d3.select("#inAssumptionsByFunction"));

                    newVal.updateDependenciesByFileChart(this.poByFunctionMaxRows, this, d3.select("#dependenciesByFileChart"));

                    newVal.updatePoByFileChart(this, d3.select("#poByFile"));

                    // newVal.updatePredicateByComplexityChart(this, d3.select("#complexityByPredicate"));

                    // newVal.updatComplexityByFunctionChart(["P"], this.functionsByComplexityBMaxRows, this, d3.select("#pComplexityByFunction"));
                    // newVal.updatComplexityByFunctionChart(["C"], this.functionsByComplexityBMaxRows, this, d3.select("#cComplexityByFunction"));

                    // newVal.updatComplexityByFileChart(["P"], this.functionsByComplexityBMaxRows, this, d3.select("#pComplexityByFile"));
                    // newVal.updatComplexityByFileChart(["C"], this.functionsByComplexityBMaxRows, this, d3.select("#cComplexityByFile"));

                    if (this.filter) {
                        this._hiddenIfNoPrimaries = this.filter.levels.contains("primary")
                            ? ""
                            : "hidden";

                        this._hiddenIfNoDischarged = (this.filter.states.length == 1 && this.filter.states.contains(model.PoStates.open))
                            ? "hidden"
                            : "";
                    }

                }
            },

            _handleRowClick: function (src, row) {
                if (src == this.$.poByRedicate || src == this.$.complexityByPredicate) {
                    this.set("filter.predicates", new collections.StringSet([row]));
                }

                else if (src == this.$.poByDischarge) {
                    this.set("filter.dischargeTypes", new collections.StringSet([row.toLowerCase()]));
                }

                else if (src == this.$.poByFunction ||
                    src == this.$.cComplexityByFunction ||
                    src == this.$.pComplexityByFunction ||
                    src == this.$.assumptionsByFunction) {


                    this.filter.file = row.fileInfo;
                    this.filter.cfunction = row;


                    this.notifyPath("filter.file");
                    this.notifyPath("filter.cfunction");
                }

                else if (src == this.$.poByFile ||
                    src == this.$.cComplexityByFile ||
                    src == this.$.pComplexityByFile ||
                    src == this.$.dependenciesByFileChart) {

                    this.set("filter.file", row);
                }
            },

            _chartBarSelected: function (event) {
                var src = event.detail.src;
                var row = event.detail.row;

                this._handleRowClick(src, row);

                if (src == this.$.poByFunction ||
                    src == this.$.poByFile ||
                    src == this.$.poByRedicate) {
                    this.set("filter.states", new collections.StringSet([event.detail.index]));
                }
            },

            _chartRowSelected: function (event) {
                var src = event.detail.src;
                var row = event.detail.row;
                this._handleRowClick(src, row);
            }

        });
    </script>

</dom-module>