<dom-module id="node-icon">
    <style>
        .faded-rect {
            fill: url("#rectHatch");
            stroke: var(--tb-graph-faded) !important;
        }
    </style>

    <template>

        <template is="dom-if" if="[[_isType(node, type, 'OP')]]">
            <template is="dom-if" if="[[_isRegularOp(node, const, summary)]]">
                <svg height="100%" width="100%" preserveAspectRatio="none" viewBox="0 0 100 100">
                    <g>
                        <rect id="rotable" x="0" y="0" fill$="[[_getFill(_computedFill, 'OP')]]" stroke$="none" class$="{{_fadedClass(renderInfo, 'rect')}}"
                            height="100" width="100" rx="0" ry="0" />
                    </g>
                </svg>
            </template>
        </template>

        <template is="dom-if" if="[[_isType(node, type, 'META')]]">
            <svg height="100%" width="100%" preserveAspectRatio="none" viewBox="0 0 100 100">
                <g>
                    <rect id="rotable" x="0" y="0" fill$="[[_getFill(_computedFill, 'META')]]" stroke$="none" class$="{{_fadedClass(renderInfo, 'rect')}}"
                        height="100" width="100" rx="0" ry="0" />
                </g>

            </svg>
        </template>

    </template>

    <script>
        (function () {
            Polymer({
                is: 'node-icon',

                properties: {
                    /**
                     * Node to represent with an icon. Optional, but if specified, its
                     * properties override those defined in the type, vertical, const and
                     * summary properties.
                     * @type {graph.Node}
                     */
                    node: {
                        type: Object,
                        value: null
                    },

                    /**
                     * Render node information associated with this node. Optional. If
                     * specified, this is only used when computing the fill of the icon
                     * element.
                     * @type {render.RenderNodeInfo}
                     */
                    renderInfo: {
                        type: Object,
                        value: null
                    },

                    /**
                     * String indicating the type of coloring to use for this node, used
                     * only for determining the fill.
                     */
                    colorBy: {
                        type: Object,
                        value: "structural"
                    },

                    /** Type of node to draw (ignored if node is set). */
                    type: {
                        type: String,
                        value: null
                    },

                    /** Direction for series (ignored for other types). */
                    vertical: {
                        type: Boolean,
                        value: false
                    },

                    /** Whether the op is Const (ignored for non-ops). */
                    const: {
                        type: Boolean,
                        value: false
                    },

                    /** Whether the op is a Summary (ignored for non-ops). */
                    summary: {
                        type: Boolean,
                        value: false
                    },

                    /**
                     * Fill for the icon, optional. If fill is specified and node is not
                     * specified, then this value will override the default for the
                     * element. However, if node is specified, this value will be ignored.
                     */
                    fill: {
                        type: String,
                        value: null
                    },

                    /** Height of the SVG element in pixels, used for scaling. */
                    height: {
                        type: Number,
                        value: 20
                    },

                    /** The computed fill for the node. **/
                    _computedFill: {
                        type: String,
                        computed: "_getComputedFill(node, renderInfo, colorBy, fill)"
                    }

                },

                /**
                 * Get the computed fill value for the element.
                 */
                _getComputedFill: function (inputNode, inputRenderInfo, inputColorBy, inputFill) {
                    if (inputNode && inputRenderInfo && inputColorBy) {
                        var ns = scenenode;
                        var colorBy = ns.ColorBy[inputColorBy.toUpperCase()];
                        return ns.getFillForNode(colorBy, inputRenderInfo, false);
                    }
                    return inputFill;
                },

                /**
                 * Get the fill value for the element, or if that's not possible, return
                 * the default fill value for the node type.
                 */
                _getFill: function (inputComputedFill, inputNodeType) {
                    return inputComputedFill || ({ OP: render.OpNodeColors.DEFAULT_FILL, META: render.MetanodeColors.DEFAULT_FILL, SERIES: render.SeriesNodeColors.DEFAULT_FILL })[inputNodeType];
                },

                /**
                 * Get the stroke value for the element, or if that's not possible,
                 * return the default stroke value for the node type.
                 */
                _getStroke: function (inputComputedFill, inputNodeType) {
                    return inputComputedFill
                        ? scenenode.getStrokeForFill(inputComputedFill)
                        : ({ OP: render.OpNodeColors.DEFAULT_STROKE, META: render.MetanodeColors.DEFAULT_STROKE, SERIES: render.SeriesNodeColors.DEFAULT_STROKE })[inputNodeType];
                },

                /**
                 * Test whether the specified node's type, or the literal type string,
                 * match a particular other type.
                 */
                _isType: function (inputNode, inputType, targetType) {
                    if (inputNode) {
                        return graph.NodeType[inputNode.type] === targetType;
                    }
                    return inputType === targetType;
                },

                /**
                 * Test whether the specified node should be represented as a vertical
                 * series. Defaults to the value of the vertical property if node is
                 * not specified.
                 */
                _isVertical: function (inputNode, inputVertical) {
                    if (inputNode) {
                        return inputNode.hasNonControlEdges;
                    }
                    return !!inputVertical;
                },

                /**
                 * Test whether the specified node is a constant. Defaults to the value
                 * of the const property if node is not specified.
                 */
                _isConst: function (inputNode, inputConst) {
                    if (inputNode) {
                        return inputNode.op === 'Const';
                    }
                    return !!inputConst;
                },

                /**
                 * Test whether the specified node is a summary. Defaults to the value
                 * of the summary property if node is not specified.
                 */
                _isSummary: function (inputNode, inputSummary) {
                    if (inputNode) {
                        return this._isType(inputNode, null, 'OP') && inputNode.op.substr(-7) === 'Summary';
                    }
                    return !!inputSummary;
                },

                /**
                 * Test whether the op node is a regular non-summary non-const node.
                 */
                _isRegularOp: function (inputNode, inputConst, inputSummary) {
                    return !this._isConst(inputNode, inputConst) && !this._isSummary(inputNode, inputSummary);
                },

                _fadedClass: function (itemRenderInfo, shape) {
                    return itemRenderInfo && itemRenderInfo.isFadedOut
                        ? 'faded-' + shape
                        : '';
                }
            });
        })();
    </script>
</dom-module>